#   Github Ignores these files (https://help.github.com/articles/ignoring-files/) for more about ignoring files.

# Environment Variables
*.env*
!.env.example


# Editor directories and files
.idea
*.suo
*.logs
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
*.production
*.tsbuildinfo
.vscode/settings.json


#   frontend related files & folders
frontend/node_modules

# Nuxt dev/build outputs
frontend/dist
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/.output


#   TinaCMS outputs
frontend/.gitkeep.md
frontend/public/admin
frontend/.gitkeep.json
frontend/tina/__generated__/


# Local Netlify folder
frontend/.netlify

#   Backend related files & folders


#   Backend directories
backend/.logs
backend/.venv/*


#   test files
backend/*.ini
backend/tests/assets
backend/.pytest_cache
backend/tests/.pytest_cache
backend/tests/reports/htmlcov
backend/tests/reports/report.html
backend/__pycache__
backend/migration/*.mako
backend/migration/__pycache__
backend/lib/utils/__pycache__
backend/lib/models/__pycache__
backend/lib/settings/__pycache__
backend/lib/services/__pycache__
backend/lib/database/__pycache__
backend/lib/services/utils/__pycache__
backend/migration/versions/__pycache__
backend/lib/models/database_models/__pycache__
