// Third-party dependencies
@use 'pkg:lumina-sass/mix' as l-mix
@use 'pkg:lumina-sass/color' as l-color
@use '../../node_modules/sass-true' as true


@include true.test-module('Alerts')
  @include true.test('alert-info should have correct contrast and icon')
    @include true.assert
      @include true.output
        .alert-info
          @include l-mix.alert(l-color.$info, $icon: 'info', $inline-size: 35rem)
      @include true.expect
        .alert-info
          gap: 1.5rem
          margin: auto
          padding: 0.5rem
          border-radius: 0.5rem
          inline-size: 35rem
          border: 0.0625rem solid rgba(0, 0, 0, 0.1)
          @include l-mix.font($weight: 800)
          @include l-mix.background-color(l-color.$info)
          display: grid
          align-items: start
          grid-template-columns: auto 1fr
          &::before
            content: "\f431"
            font-family: 'bootstrap-icons'
            font-size: 2rem
          &::before
            grid-column: 1
            grid-row: 1

  @include true.test('alert-warning should have correct contrast and icon')
    @include true.assert
      @include true.output
        .alert-warning
          @include l-mix.alert(l-color.$warning, $icon: 'warning', $inline-size: 35rem)
      @include true.expect
        .alert-warning
          gap: 1.5rem
          margin: auto
          padding: 0.5rem
          border-radius: 0.5rem
          inline-size: 35rem
          border: 0.0625rem solid rgba(0, 0, 0, 0.1)
          @include l-mix.font($weight: 800)
          @include l-mix.background-color(l-color.$warning)
          display: grid
          align-items: start
          grid-template-columns: auto 1fr
          &::before
            content: "\f33a"
            font-family: 'bootstrap-icons'
            font-size: 2rem
          &::before
            grid-column: 1
            grid-row: 1
