// Third-party dependencies
@use '../../node_modules/sass-true' as true

// Internal dependencies
@use '../mixins' as mix

@include true.test-module('Portfolio Utility Mixins')
  @include true.test('list-inline-reset mixin resets list styles for inline display')
    @include true.assert
      @include true.output
        .test
          @include mix.list-inline-reset()
      @include true.expect
        .test
          ul
            li
              display: inline
              margin: 0.5rem
            padding: 0

  @include true.test('nav-list-reset mixin resets list styles for navigation')
    @include true.assert
      @include true.output
        .test
          @include mix.nav-list-reset()
      @include true.expect
        .test
          ul
            padding: 0
            list-style: none
            border-radius: 0.5rem
            inline-size: 100%
            block-size: auto
