httpx
uvicorn
fastAPI
asyncpg
aiofiles
pydantic
pip-tools
setuptools
sqlAlchemy
pydantic-core
beautifulsoup4
pydantic-settings

pytest-cov
pytest-html
python-dotenv
pytest-asyncio
pytest-metadata
pytest-benchmark
simplified-logging
