// Built-in dependencies
@use 'sass:map' as map
@use 'sass:list' as list

// Third-party dependencies
@use 'lumina-sass' as Devices
@use 'lumina-sass/color' as color

@forward 'lumina-sass/mix'

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")

@mixin absolute-inset($inset: 0)
    inset: $inset
    position: absolute

@mixin logical-center()
    margin-inline: auto

@mixin logical-size($inline: null, $block: null)

    @if $inline != null
        inline-size: $inline

    @if $block != null
        block-size: $block

@mixin margin($block: null, $inline: null, $block-start: null, $block-end: null, $inline-start: null, $inline-end: null)

    @if $block == null && $inline == null && $block-start == null && $block-end == null && $inline-start == null && $inline-end == null
        margin: 0

    @if $block != null
        margin-block: $block

    @if $inline != null
        margin-inline: $inline

    @if $block-start != null
        margin-block-start: $block-start

    @if $block-end != null
        margin-block-end: $block-end

    @if $inline-start != null
        margin-inline-start: $inline-start

    @if $inline-end != null
        margin-inline-end: $inline-end

@mixin padding($block: null, $inline: null, $block-start: null, $block-end: null, $inline-start: null, $inline-end: null)
    @if $block != null
        padding-block: $block
    @if $inline != null
        padding-inline: $inline
    @if $block-start != null
        padding-block-start: $block-start
    @if $block-end != null
        padding-block-end: $block-end
    @if $inline-start != null
        padding-inline-start: $inline-start
    @if $inline-end != null
        padding-inline-end: $inline-end

.flex-center
    align-items: center
    justify-content: center
    display: flex

