// Built-in dependencies
@use 'sass:map' as map
@use 'sass:list' as list

// Third-party dependencies
@use 'lumina-sass' as Devices
@use 'lumina-sass/color' as color

@forward 'lumina-sass/mix'

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")

@mixin list-inline-reset()
    ul 
        li
            margin: .5rem
            display: inline

        padding: 0

@mixin nav-list-reset()
    ul
        padding: 0
        list-style: none
        inline-size: 100%
        border-radius: .5rem


