//  Devices breakpoints mapping
@use 'sass:map'

$breakpoints:(
    'S': 12.5rem,
    'M': 31.25rem,
    'L': 50rem,
    'XL': 64rem,
    '2XL': 80rem,
    '3XL': 81.25rem,
)
$amazon:(
    'kindle-fire':(
        inline-size: 37.5rem,
        block-size: map.get($breakpoints, 'XL'),
    ),
    'kindle-fire-hd':(
        inline-size: 50rem,
        block-size: map.get($breakpoints, '2XL'),
    ),
)

$apple:(
    'ipad':(
        inline-size: 48rem,
        block-size: map.get($breakpoints, 'XL'),
    ),
    'ipad-air':(
        block-size: 73.75rem,
        inline-size: 51.25rem,
    ),
    'ipad-pro':(
        block-size: 85.375rem,
        inline-size: 64rem,
    ),
    'tv-cd':(
        block-size: 160rem,
        inline-size: 100rem,
    ),
    'iphone':(
        block-size: 30rem,
        inline-size: 20rem,
    ),
    'iphone-7':(
        block-size: 41.6875rem,
        inline-size: 23.4375rem,
    ),
    'iphone-xr':(
        block-size: 56rem,
        inline-size: 25.875rem,
    ),
    'iphone-pro':(
        block-size: 52.75rem,
        inline-size: 24.375rem,
    ),
    'iphone-pro-height': 52.75rem,
    'iphone-plus':(
        block-size: 46rem,
        inline-size: 25.75rem,
        
    ),
    'iphone-pro-max':(
        block-size: 57.875rem,
        inline-size: 26.875rem,
    ),
)

$asus:(
    'zbc':(
        inline-size: 53.3125rem,
        block-size: map.get(map.get($amazon, 'kindle-fire-hd'), 'block-size'),
    ),
    'zbf':(
        inline-size: 106.625rem,
        block-size: map.get(map.get($amazon, 'kindle-fire-hd'), 'block-size'),
    ),
)

$black-berry:(
    'bt':(
        inline-size: map.get(map.get($apple, 'iphone'),'block-size') ,
        block-size: 40rem,
        ),
    'curve':(
        inline-size: 22.5rem, 
        block-size: map.get(map.get($apple, 'iphone'),'block-size'),
        ),
    'original':(
        block-size: 50rem, 
        inline-size: map.get(map.get($apple, 'iphone'),'block-size'),
        )
)

$display:
    (
    'hd-720p':(
        block-size: 45rem,
        inline-size: 80rem,
    ),
    'hd-1080i':(
        block-size: 67.5rem,
        inline-size: 90rem,
    ),
    'hd-1080p':(
        block-size: 52.875rem,
        inline-size: 114.938rem,
    ),
)

$google:(
    'pixel':(
        block-size: 57.1875rem,
        inline-size: map.get(map.get($black-berry, 'original'), 'inline-size'),
    ),
    'nest-hub':(
        block-size: 37.5rem,
        inline-size: map.get($breakpoints, 'XL'),
    ),
    'nest-hub-max':(
        block-size: map.get($breakpoints, 'XL'),
        inline-size: map.get(map.get($black-berry, 'original'), 'inline-size')
        ),
)

$htc:(
    'desire':(
        block-size: 33.3125rem,
        inline-size: map.get(map.get($google, 'nest-hub-max'), 'inline-size'),
    ),
    'sensation':(
        block-size: 60rem,
        inline-size: 33.75rem,
    ),
    'one':(
        block-size: map.get(map.get($black-berry, 'original'), 'block-size'),
        inline-size: map.get(map.get($google, 'nest-hub-max'), 'inline-size'),
    ),
)

$microsoft:(
    'surface-pro':(
        block-size: 85.5rem,
        inline-size: 57rem,
    ),
    'surface-duoc':(
        block-size: 45rem,
        inline-size: map.get(map.get($htc, 'sensation'), 'inline-size'),
    ),
)

$motorola:(
    'mobility-milestone':(
        block-size: 35.625rem,
        inline-size: map.get(map.get($htc, 'desire'), 'inline-size'),
    ),
)

$samsung:(
    'gcz5':(
        block-size: 46.25rem,
        inline-size: 21.5rem,
    ),
    'gs8':(
        block-size: 46.25rem,
        inline-size: map.get(map.get($black-berry, 'curve'), 'inline-size'),
    ),
    'gfz5':(
            block-size: 51.8125rem,
            inline-size: map.get(map.get($black-berry, 'curve'), 'inline-size'),
    ),
    'ga5171':(
        block-size: 57.125rem,
        inline-size: map.get(map.get($apple, 'iphone-plus'), 'inline-size'),
    ),
    'tab':(
        block-size: 42.6875rem,
        inline-size: 25rem,
    ),
    'gs20u':(
        block-size: map.get(map.get($google, 'pixel'), 'block-size'),
        inline-size: map.get(map.get($apple, 'iphone-plus'), 'inline-size'),
    ),
)

$sony-ericson:(
    'u':(
        block-size: 53.375rem,
        inline-size: map.get(map.get($motorola, 'mobility-milestone'),'inline-size'),
    ),
)

$sharp:(
    'is03':(
        block-size: map.get(map.get($htc, 'one'), 'block-size'),
        inline-size: map.get(map.get($samsung, 'gs8'), 'inline-size'),
    ),
    '941sh':(
        block-size: map.get($breakpoints, 'XL'),
        inline-size: map.get(map.get($sony-ericson, 'u'), 'inline-size'),
    ),
    'sx862':(
        block-size: map.get(map.get($sony-ericson, 'u'), 'block-size'),
        inline-size: map.get(map.get($sony-ericson, 'u'), 'inline-size'),
    ),
)

$misc-breakpoints:(
    'tablet':(
        block-size: 50rem,
        inline-size: 37.5rem,
    ),
    'wideScreen':(
        block-size: 48rem,
        inline-size: 79.625rem,
    ),
)
//  Devices breakpoints mapping
$devices:(
    'htc': $htc,
    'misc': $misc-breakpoints,
    'sharp': $sharp,
    'apple': $apple,
    'google': $google,
    'display': $display,
    'samsung': $samsung,
    'motorola': $motorola,
    'black-berry': $black-berry,
    'sony-ericson': $sony-ericson,
)