$flex:( 'display': flex )
$inline-flex:( 'display': inline-flex )

$flex-column:(
    'display': flex,
    'flex-wrap': nowrap,
    'flex-direction': column
)

$inline-flex-column:(
    'flex-wrap': nowrap,
    'display': inline-flex,
    'flex-direction': column
)

$flex-row:(
    'display': flex,
    'flex-wrap': nowrap,
    'flex-direction': row
)

$inline-flex-row:(
    'flex-wrap': nowrap,
    'flex-direction': row,
    'display': inline-flex,
)

$flex-wrap-column:(
    'display': flex,
    'flex-wrap': wrap,
    'flex-direction': column
)

$flex-wrap-row:(
    'display': flex,
    'flex-wrap': wrap,
    'flex-direction': row
)

$flex-wrap-reversed-column:(
    'display': flex,
    'flex-wrap': wrap,
    'flex-direction': column-reverse
)

$flex-wrap-reversed-row:(
    'display': flex,
    'flex-wrap': wrap,
    'flex-direction': row-reverse
)

$flexbox:(
    'flex': $flex,
    'flex-row': $flex-row,
    'flex-column': $flex-column,
    'inline-flex': $inline-flex,
    'flex-wrap-row': $flex-wrap-row,
    'inline-flex-row': $inline-flex-row,
    'flex-wrap-column': $flex-wrap-column,
    'inline-flex-column': $inline-flex-column,
    'flex-wrap-reversed-row': $flex-wrap-reversed-row,
    'flex-wrap-reversed-column': $flex-wrap-reversed-column,
)
