@use 'lumina-sass' as lumina
@use 'lumina-sass/color' as color


$fullstack-tags: (
    'lumina-sass': ( background: color.$fullstack-vibrant-orange ),
    'intranet': ( background: color.$fullstack-vibrant-orange, hover: rgba(color.$fullstack-vibrant-orange, 0.8) ),
    'portfolio': ( background: color.$fullstack-vibrant-orange, hover: rgba(color.$fullstack-vibrant-orange, 0.8) ),
    'social-innovation': ( background: color.$fullstack-vibrant-orange, hover: rgba(color.$fullstack-vibrant-orange, 0.8)),
    
)

$workflow-blue-tags: (
    
    'rd': ( background: color.$rd-lime-green ),
    'misc': ( background: color.$misc-purple ),
    'support': ( background: color.$rd-lime-green ),
    'external-equipment': ( background: color.$human-emerald-glow),
    'devops': ( background: lumina.$workflow-blue, hover: rgba(lumina.$workflow-blue, 0.8) ),
)

$os-tags: ( 'os': ( background: color.$misc-purple ), 'windows': ( background: color.$windows-blue ), 'macos': ( background: color.$macos-silver ), 'linux': ( background: color.$linux-orange ), )

$backend-tags: ()
$frontend-tags: ()

$tags: ( 'os': $os-tags,  'backend': $backend-tags, 'workflow': $workflow-blue-tags, 'frontend': $frontend-tags, 'fullstack': $fullstack-tags )

$tag-theme-colors: (
    'os': lumina.$windows-blue,
    'misc': lumina.$misc-purple,
    'rd': lumina.$rd-lime-green,
    'macos': lumina.$macos-silver,
    'linux': lumina.$linux-orange,
    'devops': lumina.$rd-lime-green,
    'support': lumina.$windows-blue,
    'windows': lumina.$windows-blue,
    'project': lumina.$human-emerald-glow,
    'fullstack': lumina.$fullstack-vibrant-orange,
)