@use '../colors/colors' as color

$compiled-tech-language:(
    'c': (
        path:"", 
        svg-color: color.$compiled, 
        svg-hover: color.$compiled-light
    ),
    'go': (
        path:"", 
        svg-color: color.$compiled, 
        svg-hover: color.$compiled-light
            ),
    'cpp': (
        path:"", 
        svg-color: color.$compiled, 
        svg-hover: color.$compiled-light
    ),
    'csharp': (
        path:"", 
        svg-color: color.$compiled, 
        svg-hover: color.$compiled-light
    ),
)

$interpreted-tech-language:(
    'py': (
        path:"", 
        svg-color: color.$Cyan-Blue-Azure, 
        svg-hover: color.$Cyan-Blue-Azure-light
    ),
    'js': (
        path:"", 
        svg-color: color.$Cyan-Blue-Azure,
        svg-hover: color.$Cyan-Blue-Azure-light
    ),
)

$database-tech-language:(
    'mdb': (
        path:"", 
        svg-color: color.$db, 
        svg-hover: color.$db-light
    ),
    'MSSQL': (
        path:"", 
        svg-color: color.$db, 
        svg-hover: color.$db-light
    ),
    'sqlite': (
        path:"", 
        svg-color: color.$db, 
        svg-hover: color.$db-light
    ),
    
    'default': (
        path:"", 
        svg-color: color.$db, 
        svg-hover: color.$db-light
    )
)

$workflow-tools:(
    'git': (
        path:"", 
        svg-color: color.$work-flow, 
        svg-hover: color.$work-flow-light
    ),
    'cms': (
        path:"", 
        svg-color: color.$work-flow, 
        svg-hover: color.$work-flow-light
    ),
    '11ty': (
        path:"", 
        svg-color: color.$work-flow, 
        svg-hover: color.$work-flow-light
    ),
    'sass': (
        path:"", 
        svg-color: color.$compiled, 
        svg-hover: color.$compiled-light
    )
)
$tech-languages: (
    'workflow': $workflow-tools,
    'compiled': $compiled-tech-language,
    'database': $database-tech-language,
    'interpreted': $interpreted-tech-language,
)