@use '../mix/generators' as mix

section
    .dev-bar
        .dev-skill
            h3
                text-align: center
                margin-block-end: 0

            p
                text-align: center
                margin-block: 0rem

            progress
                overflow: hidden
                appearance: none
                border-radius: 1rem
                -moz-appearance: none
                -webkit-appearance: none

            inline-size: 100%
            margin-block: 1rem
            @include mix.tech-generator($boolean: false, $element:'progress')

        max-inline-size: 24rem

    margin-block: 2rem
