// Base container for the whole section
.repo-container
    .filter-btn
        margin: .5em

    .project-wrapper
        max-inline-size: 75em

    p
        margin: auto
    block-size: 100%
    inline-size: 100%

