//  Amazon Media Query
@use '../../mix/mixins' as mix
@use './breakpoints' as device

//  Portrait
@include mix.device-media('amazon-kindle-fire', portrait)
    header
        img
            @include mix.logical-size(13.5rem !important)

        .slogan-wrapper 
            @include mix.font(.7rem !important)

    main
        section.bio-container
            .carosel
                @include mix.logical-size(45rem !important, 100% !important)
                @include mix.margin(null, 1.8rem)

            
        section.spec-wrapper
            .spec-class
                @include mix.logical-size(36rem !important)

        section#tech-repo
            .pp
                @include mix.margin(null, 1rem)
                @include mix.logical-size(37.8rem !important, 8.4375rem !important)
                background-size: 15.3rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(33.3rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                
                p
                    @include mix.logical-size(32.4rem !important)
                    margin-inline-start: 4.5rem !important

@include mix.device-media('amazon-kindle-fire-hd', portrait)

    header
        .slogan-wrapper 
            @include mix.font(.7rem !important)

    main
        section.bio-container
            .carosel
                @include mix.logical-size(25rem !important)

                div.btn-container button.img-btn
                    @include mix.font(2.5rem)

        section#tech-repo
            .pp
                
                @include mix.logical-size(null, 8.4375rem !important)

                p
                    @include mix.logical-size(33.3rem !important)
                    margin-inline-start: 4.5rem !important

//  Landscape
@include mix.device-media('amazon-kindle-fire', landscape)
    header
        img
            @include mix.logical-size(9.9rem !important)

        .slogan-wrapper 
            @include mix.font(.7rem !important)

    main
        section.bio-container
            .carosel
                @include mix.logical-size(25rem)

        section.spec-container
            .spec-class
                @include mix.logical-size(42.3rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(26.1rem !important, 16.3125rem !important)
                background-size: 12.6rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                    .img-wrapper
                        @include mix.logical-size(23.4rem !important)

                        .img-svg
                            @include mix.logical-size(null, 3.375rem !important)
                p
                    @include mix.logical-size(20.7rem !important)
                    margin-inline-start: 3.6rem !important

@include mix.device-media('amazon-kindle-fire-hd', landscape)

    main
        div.btn-container button.img-btn
            @include mix.font(3rem)

            .bio-btn
                @include mix.font(1rem !important)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size(42.3rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(26.1rem !important, 11.25rem !important)
                background-size: 10.8rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(23.4rem !important, 2.25rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.8125rem !important)

                p
                    @include mix.logical-size(18.9rem !important)
                    margin-inline-start: 5.4rem !important
