//  Apple Devices Media Queries

//  Importing dependencies
@use './breakpoints' as device

//  Media Queries Portrait
@media only screen and (device.$iphone-7-width <= width <= 24.3125rem) and (min-height: device.$iphone-7-height) and (orientation: portrait)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                .caption
                    font-size: 1rem

                .relative
                    bottom: 4.1063rem !important

                div.btn-container
                    bottom: 20.8125rem !important

            section.bio-container
                margin-block: 0.5625rem
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important
                        inline-size: 77.4rem !important            

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%

        section#tech-repo
            .pp
                block-size: 11.25rem !important

                .tech-container
                    .relative
                        top: 1.125rem

                    .img-wrapper
                        block-size: 1.6875rem !important
                        inline-size : 73.8rem !important

                        .img-svg
                            block-size: 2.25rem !important

                .tech-wrapper
                    inline-size: 20.7rem !important
                p
                    font-size: 1rem !important
                    margin-inline-start: 11.7rem !important

@media only screen and (device.$iphone-plus-width <= width <= 26.8125rem) and (device.$iphone-plus-height <= height <= 55.9375rem) and (orientation: portrait)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper
            font-size: .592rem !important

    main
        section.info
            .carosel
                inline-size: 54rem !important

                .caption
                    font-size: .9rem !important

                .relative
                    bottom: 3.6rem !important

                div.btn-container
                    bottom: 15.1875rem !important

            section.bio-container
                margin-block: 0rem !important
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                section.bio-content
                    

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important           

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 11.8125rem !important

                p
                    margin-inline-start: 15.3rem
                    inline-size: 45.9rem !important
                    
                    
                .tech-container
                    .relative
                        top: 1.125rem !important

                    .img-wrapper
                        block-size: 1.6875rem !important

                        .img-svg
                            block-size: 2.25rem !important

@media only screen and (device.$iphone-xr-width <= width <= 26.8125rem) and (min-height: device.$iphone-xr-height) and (orientation: portrait)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                .caption
                    font-size: 1rem

                .relative
                    bottom: 3.0938rem !important

                div.btn-container
                    bottom: 16.875rem !important

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 11.25rem !important

                .tech-container
                    .relative
                        top: 1.125rem

                    .img-wrapper
                        block-size: 1.6875rem !important
                        inline-size : 73.8rem !important

                        .img-svg
                            block-size: 2.25rem !important

                .tech-wrapper
                    inline-size: 20.7rem !important
                p
                    font-size: 1rem !important
                    margin-inline-start: 11.7rem !important

@media only screen and (device.$iphone-pro-width <= width <= 25.875rem) and (device.$iphone-pro-height <= height <= 55.9375rem) and (orientation: portrait)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                .caption
                    bottom: 3.3188rem !important

                div.btn-container
                    bottom: 17.4375rem !important

                    button.img-btn
                        font-size: 2.5rem !important

            section.bio-container
                margin-block: 0.5625rem
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important
                        inline-size: 77.4rem !important            

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 11.25rem !important

                .tech-container
                    .relative
                        top: 1.125rem

                    .img-wrapper
                        block-size: 1.6875rem !important
                        inline-size : 73.8rem !important

                        .img-svg
                            block-size: 2.25rem !important

                .tech-wrapper
                    inline-size: 20.7rem !important
                p
                    font-size: 1rem !important
                    margin-inline-start: 11.7rem !important

@media only screen and (device.$iphone-pro-max-width <= width <=  29.9375rem) and (min-height: device.$iphone-pro-max-height) and (orientation: portrait)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                inline-size: 78.3rem !important

                .caption
                    font-size: 1rem

                .relative
                    bottom: 2.9812rem !important

                div.btn-container
                    bottom: 15.1875rem !important

            section.bio-container
                margin-block: 0.5625rem
                margin-inline: 0 !important
                inline-size: 100% !important
                
                button.img-btn
                    font-size: 2rem !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important
                        inline-size: 77.4rem !important            

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 11.25rem !important

                .tech-container
                    .relative
                        top: 1.125rem

                    .img-wrapper
                        block-size: 1.6875rem !important
                        inline-size : 73.8rem !important

                        .img-svg
                            block-size: 2.25rem !important

                .tech-wrapper
                    inline-size: 20.7rem !important
                p
                    font-size: 1rem !important
                    margin-inline-start: 11.7rem !important

@media only screen and (device.$Ipad-Pro-width <= width <=  69.5625rem) and (min-height: device.$Ipad-Pro-height) and (orientation: portrait)
    main
        section.info
            .carosel
                block-size: 15.75rem !important
                inline-size: 31.5rem !important

                .relative
                    bottom: 2.025rem !important

                div.btn-container
                    bottom: 10.6875rem !important

                    .img-btn
                        font-size: 2.5rem !important

            section.bio-container
                inline-size: 42.3rem !important

                section.bio-content
                    inline-size: 100% !important 

                    p
                        inline-size: 100% !important    

        section#spec-container
            .spec-class
                inline-size:  42.3rem !important

                .spec-course
                    
                    .h4-link
                        font-size: 1.2rem !important

        section#tech-repo
            .pp
                block-size: 7.3125rem !important
                inline-size: 39.6rem !important
                background-size: 13.5rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        block-size: 2.25rem !important
                        inline-size: 36.9rem !important

                        .img-svg
                            block-size: 1.6875rem !important
                
                p
                    font-size: 1rem !important
                    inline-size: 30.6rem !important
                    margin-inline-start: 5.4rem !important

@media only screen and (device.$Ipad-air-width <= width <= 53.0625rem) and (min-height: device.$Ipad-air-height) and (orientation: portrait)
    header
        img
            inline-size: 9.9rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                block-size: 15.1875rem !important
                inline-size: 31.5rem !important

                .relative
                    bottom: 2.4187rem !important

                div.btn-container
                    bottom: 10.125rem !important

                    button.img-btn
                        font-size: 2.5rem !important

            section.bio-container
                margin-block: 0.5625rem
                margin-inline: 0 !important
                inline-size: 45rem !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important
                        inline-size: 77.4rem !important            

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-wrapper

            .spec-class
                inline-size:  40.5rem !important
            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 9.5625rem !important
                inline-size: 38.7rem !important
                background-size: 16.2rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        block-size: 2.25rem !important
                        inline-size : 36rem !important

                        .img-svg
                            block-size: 2.25rem !important

                .tech-wrapper
                    inline-size: 20.7rem !important
                p
                    inline-size: 28.8rem !important
                    margin-inline-start: 5.4rem !important

//  Media Queries Landscape
@media only screen and (device.$iphone-7-height <= width <= 45.9375rem) and (min-height: device.$iphone-7-width) and (orientation: landscape)
    header 
        .slogan-wrapper 
            font-size: .7rem !important

    main
        section.info
            .carosel
                inline-size: 47.7rem !important

                .caption
                    font-size: 1rem !important
                
                .relative
                    bottom: 7.4813rem !important

                div.btn-container
                    bottom: 16rem !important

            section.bio-container
                margin-block-end: 1.125rem
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                section.bio-content
                    inline-size: 100% !important
                    

                    h3
                        font-size: 1.5rem !important

                    p
                        text-align: justify
                        font-size: 1rem !important        

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section#spec-container

            .spec-class
                inline-size: 39.6rem !important
            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                margin-inline: 1rem
                block-size: 22.5rem !important
                inline-size: 36.9rem !important
                background-size: 14.4rem !important

                h3
                    margin-inline-start: 5.4rem
                p
                    inline-size: 25.2rem !important
                    margin-inline-end: 0rem !important
                    margin-inline-start: 6.3rem !important

                .tech-container
                    .relative
                        top: 1.6875rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        block-size: 3.375rem !important
                        inline-size: 33.3rem !important

                        .img-svg
                            block-size: 3.9375rem !important

@media only screen and (device.$iphone-plus-height <= width <= 46.875rem) and (min-height: device.$iphone-plus-width) and (orientation: landscape)
    header
        img
            inline-size: 9.9rem !important

        .slogan-wrapper 
            font-size: .7rem !important

    main
        section.info
            .carosel
                block-size: 37.6875rem
                inline-size: 31.5rem !important

                .caption
                    font-size: .9rem !important

                .relative
                    bottom: 6.3563rem !important

                div.btn-container
                    bottom: 25.875rem !important
            
            section.bio-container
                inline-size: 45rem !important

        section#spec-container

            .spec-class
                inline-size: 36rem !important

        section#tech-repo
            .pp
                margin-inline: 1rem
                inline-size: 36rem !important
                block-size: 24.1875rem !important
                background-size: 14.4rem !important

                .tech-container
                    .relative
                        top: 1.6875rem !important

                    .img-wrapper
                        block-size: 4.5rem !important
                        inline-size: 31.5rem !important

                        .img-svg
                            block-size: 3.9375rem !important

                p
                    inline-size: 27rem !important
                    margin-inline-end: 0rem !important
                    margin-inline-start: 6.3rem !important

@media only screen and (device.$iphone-xr-height <= width <= 56.25rem) and (min-height: device.$iphone-xr-width) and (orientation: landscape)
    header
        img
            inline-size: 9.9rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                block-size: 45.5625rem !important
                inline-size: 31.5rem !important

                .caption
                    bottom: 6.6938rem !important
                
                div.btn-container
                    bottom: 30.9375rem !important

            section.bio-container
                margin-block: 0.5625rem
                margin-inline: 0 !important
                inline-size: 45rem !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important
                        inline-size: 77.4rem !important            

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 19.6875rem !important
                inline-size: 39.6rem !important
                background-size: 13.5rem !important

                .tech-container
                    .relative
                        top: 1.6875rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        block-size: 3.9375rem !important
                        inline-size : 35.1rem !important

                        .img-svg
                            block-size: 3.9375rem !important

                p
                    inline-size: 25.2rem !important
                    margin-inline-start: 6.3rem !important

@media only screen and (device.$iphone-pro-height <= width <= 53.125rem) and (min-height: device.$iphone-pro-width) and (orientation: landscape)
    header
        img
            inline-size: 9.9rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                block-size: 45.5625rem !important
                inline-size: 31.5rem !important

                .relative
                    bottom: 7.0875rem !important

                div.btn-container
                    bottom: 31.5rem !important

            section.bio-container
                margin-block: 0.5625rem
                margin-inline: 0 !important
                inline-size: 45rem !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important
                        inline-size: 77.4rem !important            

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-wrapper

            .spec-class
                inline-size:  42.3rem !important
            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 23.0625rem !important
                inline-size: 39.6rem !important
                background-size: 14.4rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        block-size: 5.625rem !important
                        inline-size : 36.9rem !important

                        .img-svg
                            block-size: 3.9375rem !important

                .tech-wrapper
                    inline-size: 20.7rem !important
                p
                    inline-size: 28.8rem !important
                    margin-inline-start: 5.4rem !important

@media only screen and (device.$iphone-pro-max-height <= width <= 59.9375rem) and (min-height: device.$iphone-pro-max-width) and (orientation: landscape)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                block-size: 46.125rem !important
                inline-size: 31.5rem !important

                .relative
                    bottom: 6.5812rem !important

                div.btn-container
                    bottom: 32.625rem !important

                    button.img-btn
                        font-size: 2.5rem !important

            section.bio-container
                margin-block: 0.5625rem
                margin-inline: 0 !important
                inline-size: 45rem !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important
                        inline-size: 77.4rem !important            

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-wrapper
            .spec-class
                inline-size:  42.3rem !important

        section#tech-repo
            .pp
                block-size: 23.0625rem !important
                inline-size: 26.1rem !important
                background-size: 11.7rem !important

                .tech-container
                    .relative
                        top: 1.125rem
                        left: 1.8rem !important

                    .img-wrapper
                        block-size: 5.625rem !important
                        inline-size : 21.6rem !important

                        .img-svg
                            block-size: 3.375rem !important

                .tech-wrapper
                    inline-size: 20.7rem !important
                p
                    font-size: 1rem !important
                    inline-size: 18.9rem !important
                    margin-inline-start: 3.6rem !important

@media only screen and (device.$Ipad-air-height <= width <= 75rem) and (min-height: device.$Ipad-air-width) and (orientation: landscape)
    header
        img
            inline-size: 9.9rem !important

        .slogan-wrapper 
            font-size: .52rem !important

    main
        section.info
            .carosel
                block-size: 30.375rem !important
                inline-size: 31.5rem !important

                .caption
                    bottom: 3.375rem !important

                div.btn-container
                    bottom: 16.875rem !important

                    button.img-btn
                        font-size: 2.5rem !important

            section.bio-container
                margin-block: 0.5625rem
                margin-inline: 0 !important
                inline-size: 45rem !important

                h2
                    font-size: 2rem !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2rem !important

                    h3
                        font-size: 1.5rem !important

                    p
                        font-size: 1rem !important
                        inline-size: 77.4rem !important            

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-wrapper

            .spec-class
                inline-size:  40.5rem !important
            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 11.8125rem !important
                inline-size: 25.2rem !important
                background-size: 11.7rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        block-size: 3.375rem !important
                        inline-size: 22.5rem !important

                        .img-svg
                            block-size: 2.8125rem !important

                p
                    inline-size: 18.9rem !important
                    margin-inline-start: 3.6rem !important

@media only screen and (min-width: device.$Ipad-Pro-height) and (min-height: device.$Ipad-Pro-width) and (orientation: landscape)
    header
        img
            inline-size: 9.9rem !important

        .slogan-wrapper 
            font-size: .7rem !important

    main
        section.info
            .carosel
                block-size: 27rem !important
                inline-size: 31.5rem !important

                div.btn-container
                    bottom: 17.4375rem !important

                    button.img-btn
                        font-size: 3rem !important

                .caption
                    bottom: 2.7rem !important

            section.bio-container
                inline-size: 45rem !important
                
                .bio-btn
                    font-size: 1rem !important
                    
        section.spec-wrapper
            margin-block-end: 0 !important

            .spec-class
                inline-size:  42.3rem !important

                .spec-course
                    .h4-link
                        font-size: 1.2rem !important

        section#tech-repo
            .pp
                block-size: 7.875rem !important
                inline-size: 25.2rem !important
                background-size: 7.2rem !important

                p
                    margin-inline-end: 0 !important
                    margin-inline-start: 2.7rem !important
                    font-size: 1rem !important
                    inline-size: 21.6rem !important
                h2
                    margin-inline-start: 0 !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 0.9rem !important

                    .img-wrapper
                        block-size: 1.6875rem !important
                        inline-size: 23.4rem !important

                        .img-svg
                            block-size: 1.6875rem !important


