//  Black Berry Devices Media Queries

//  Importing dependencies
@use '../../mix/mixins' as mix
@use './breakpoints' as device

//  Portrait
@media only screen and (device.$bberry-width <= width <= 33.6875rem) and (device.$bberry-height <= height <= 53.3125rem) and (orientation: portrait)
    header
        .slogan-wrapper
            @include mix.font(.7rem !important)
    main
        
        section.info
            .carosel
                @include mix.logical-size(45rem !important)

                div.btn-container
                    bottom: 12.9375rem !important
                
                .caption
                    @include mix.font(.8rem !important)
                .relative
                    bottom: 2.925rem !important

        section#tech-repo
            .pp
                @include mix.logical-size(60.3rem !important, 11.25rem !important)
                background-size: 18rem !important

                .tech-container
                    .relative
                        top: 0.5625rem
                        left: 1.8rem

                    .img-wrapper
                        @include mix.logical-size(54.9rem !important, 2.8125rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.25rem !important)
                p
                    @include mix.logical-size(54rem !important)
                    margin-inline-start: 4.5rem

        form input[type="text"]
            margin-block-end: 1.125rem

@media only screen and (device.$bberry-bt-width <= width <= 33.6875rem)and (device.$bberry-bt-height <= height <= 49.9375rem) and (orientation: portrait)

    header
        .slogan-wrapper
            @include mix.font(.7rem)

    main
        
        section.info
            .carosel
                @include mix.logical-size(45rem)

                .caption
                    @include mix.font(.8rem !important)

                .relative
                    bottom: 3.5437rem

                div.btn-container
                    bottom: 15.75rem

        section#tech-repo
            .pp
                @include mix.logical-size(63rem, 15.75rem)
                background-size: 27rem 

                .tech-container
                    .relative
                        top: 1.6875rem

                    .img-wrapper
                        @include mix.logical-size(58.5rem)

                        .img-svg
                            @include mix.logical-size(null, 2.8125rem)
                p
                    @include mix.logical-size(53.1rem)
                    margin-inline-start: 8.1rem

        form input[type="text"]
            margin-block-end: 1.125rem

@media only screen and (device.$bberry-curve-width <= width <= 23.375rem) and (device.$bberry-curve-height <= height <= 39.9375rem)and (orientation: portrait)

    header
        .slogan-wrapper
            @include mix.font(.496rem !important)

    main
        section.info
            .carosel
                .caption
                    @include mix.font(1rem !important)
                
                .relative
                    bottom: 5.85rem !important

                div.btn-container
                    bottom: 28.6875rem !important

        section#tech-repo
            .pp
                p
                    @include mix.font(1rem !important)

                .tech-container
                    .relative
                        top: 1.6875rem
                    .img-wrapper
                        .img-svg
                            @include mix.logical-size(null, 3.375rem !important)

        form input[type="text"]
            margin-block-end: 1.125rem

//  Landscape
@media only screen and (device.$bberry-height <= width <= 828)and (device.$bberry-width <= height <= 37.4375rem) and (orientation: landscape)
    header
        img
            @include mix.logical-size(9.9rem !important)

        .slogan-wrapper
            @include mix.font(.9rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(null, 34.875rem)

                .caption
                    @include mix.font(1rem !important)
                
                .relative
                    bottom: 5.9062rem !important

                div.btn-container
                    bottom: 25.875rem !important

        section#tech-repo
            .pp
                @include mix.margin(null, 1rem)
                @include mix.logical-size(33.3rem !important, 18rem !important)
                background-size: 12.6rem !important

                .tech-container
                    .relative
                        top: 1.125rem 
                        left: 1.8rem

                    .img-wrapper
                        @include mix.logical-size(30.6rem !important)

                        .img-svg
                            @include mix.logical-size(null, 3.375rem !important)
                p
                    
                    @include mix.logical-size(27rem !important)
                    margin-inline-start: 3.6rem !important

        form input[type="text"]
            margin-block-end: 1.125rem

@media only screen and (device.$bberry-bt-height<= width <= 40rem) and (min-height: device.$bberry-bt-width) and (orientation: landscape)

    header
        img
            @include mix.logical-size(9.9rem !important)

        .slogan-wrapper
            @include mix.font(.7rem !important)

    main
        
        section.info
            .carosel
                @include mix.logical-size(31.5rem !important, 28.6875rem)

                .caption
                    @include mix.font(.8rem !important)
                
                .relative
                    bottom: 4.7812rem !important

                div.btn-container
                    bottom: 20.25rem !important

            section.bio-container
                @include mix.logical-size(45rem !important)

        section#spec-container
            .spec-class
                @include mix.logical-size(36rem)

        section#tech-repo
            .pp
                @include mix.margin(null, 1rem)
                @include mix.logical-size(36rem !important, 19.6875rem !important)
                background-size: 15.3rem !important

                .tech-container
                    .relative
                        @include mix.margin(null, 2.7rem !important) // this was left: 2.7rem
                        top: 1.125rem !important
                        left: 2.7rem !important

                    .img-wrapper
                        @include mix.logical-size(32.4rem !important)

                        .img-svg
                            @include mix.logical-size(null, 3.375rem !important)

                p
                    @include mix.logical-size(31.5rem !important)
                    margin-inline-start: 3.6rem
                
                

        form input[type="text"]
            margin-block-end: 1.125rem

@media only screen and (device.$bberry-curve-height <= width <=  31.25rem) and (min-height: device.$bberry-curve-width) and (orientation: landscape)

    header
        img
            @include mix.logical-size(13.5rem !important)

        .slogan-wrapper
            @include mix.font(.49rem)

    main
        section.info
            .carosel
                @include mix.logical-size(45rem !important)

                .caption
                    @include mix.font(.8rem !important)
                
                .relative
                    bottom: 6.1875rem !important

                div.btn-container
                    bottom: 28.6875rem !important

        section#tech-repo
            .pp
                @include mix.logical-size(54rem !important, 25.875rem !important)
                background-size: 18rem !important

                .tech-container
                    .relative
                        top: 1.6875rem

                    .img-wrapper
                        @include mix.logical-size(50.4rem !important)

                        .img-svg
                            @include mix.logical-size(null, 3.9375rem !important)

                p
                    @include mix.font(1rem !important)
                    @include mix.logical-size(45rem !important)

        form input[type="text"]
            margin-block-end: 1.125rem
