//  Media query Breakpoints

//  Mobile Breakpoints
$bberry-width: 30rem
$bberry-height: 50rem

$bberry-bt-width: $bberry-width
$bberry-bt-height: 40rem

$bberry-curve-width: 22.5rem
$bberry-curve-height: $bberry-bt-width

$google-pixel-width: 25.75rem
$google-pixel-height: 57.1875rem

$htc-desire-width: 20rem
$htc-desire-height: 33.3125rem

$htc-one-width: $bberry-curve-width
$htc-one-height: $bberry-bt-height

$htc-sensation-width: 33.75rem
$htc-sensation-height: 60rem

$iphone-width: $htc-desire-width
$iphone-height: $bberry-width

$iphone-7-width: 23.4375rem
$iphone-7-height: 41.6875rem

$iphone-plus-width : 25.875rem
$iphone-plus-height: 46rem

$iphone-xr-width: $iphone-plus-width
$iphone-xr-height: 56rem

$iphone-pro-width: 24.375rem
$iphone-pro-height: 52.75rem

$iphone-pro-max-width: 26.875rem
$iphone-pro-max-height: 57.875rem

$motorola-mobility-milestone-width: $iphone-width
$motorola-mobility-milestone-height: 35.625rem

$samsung-gs8-width: $htc-one-width
$samsung-gs8-height: 46.25rem

$samsung-gs20u-width: $google-pixel-width
$samsung-gs20u-height: $google-pixel-height

$samsung-gcz5-width: 21.5rem
$samsung-gcz5-height: 55.125rem

$samsung-gfz5-width: 43.125rem
$samsung-gfz5-height: 51.8125rem

$samsung-ga5171-width: $samsung-gs20u-width
$samsung-ga5171-height: 57.125rem

$sony-ericsson-u-width: $iphone-height
$sony-ericsson-u-height: 53.375rem

$sharp-sx862-width: $sony-ericsson-u-width
$sharp-sx862-height: $sony-ericsson-u-height

$sharp-941sh-width: $sharp-sx862-width
$sharp-941sh-height: 64rem

$sharp-is03-width: $htc-one-height
$sharp-is03-height: $htc-sensation-height

//  Tablet Breakpoints
$tablet-width: 37.5rem
$tablet-height: $bberry-height

$amazon-kindle-fire-width: $tablet-width
$amazon-kindle-fire-height: $sharp-941sh-height

$amazon-kindle-fire-hd-width: $tablet-height
$amazon-kindle-fire-hd-height: 80rem

$google-nh-width: $amazon-kindle-fire-height
$google-nh-height: 37.5rem

$google-nhm-width: $google-nh-width
$google-nhm-height: 50rem

$Ipad-width: 48rem
$Ipad-height: $google-nhm-width

$Ipad-air-width: 51.25rem
$Ipad-air-height: 73.75rem

$Ipad-Pro-width: $Ipad-height
$Ipad-Pro-height: 85.375rem

$surface-pro-width: 57rem
$surface-pro-height: 85.5rem

$samsung-tab-width: 25rem
$samsung-tab-height: 42.6875rem

$surface-duoc-width: $htc-sensation-width
$surface-duoc-height: 45rem

$surface-duof-width: 69.625rem
$surface-duof-height: $surface-duoc-height


// Big Screens Breakpoints
$wideScreen-width: 79.625rem
$wideScreen-height: $Ipad-width

$display-hd-720p-width: $amazon-kindle-fire-hd-height
$display-hd-720p-height: $surface-duoc-height

$display-hd-1080i-width: 90rem
$display-hd-1080i-height: 67.5rem

$apple-cd-width: 100rem
$apple-cd-height: 160rem

$display-asus-zbc-width: 53.3125rem
$display-asus-zbc-height: $display-hd-720p-width

$display-asus-zbf-width: 106.625rem
$display-asus-zbf-height: $display-asus-zbc-height

$display-hd-1080p-width: 114.938rem
$display-hd-1080p-height: 52.875rem