//  Display Media Queries
@use '../../mix/mixins' as mix
@use './breakpoints' as device

//  Portrait
@include mix.device-media('apple-cd', portrait)
    main
        section.info
            .carosel
                @include mix.logical-size(20.7rem !important, 1.6875rem !important)

                .relative
                    bottom: 1.0125rem !important 
               
                div.btn-container
                    bottom: 6.1875rem !important

        section#tech-repo
            .pp
                @include mix.logical-size(27rem !important, 5.0625rem !important)
                background-size: 10.8rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(24.3rem !important, 1.125rem !important)
                        

                        .img-svg
                            @include mix.logical-size(null, 1.125rem !important) 
                p
                    @include mix.logical-size(18.9rem !important)

@include mix.device-media('display-hd-1080p', portrait)
    main
        section.info
            .carosel
                @include mix.logical-size(20.7rem !important, 14.0625rem !important)
                margin-inline-end: 0 !important

                .relative
                    bottom: 2.5875rem !important   

                div.btn-container
                    bottom: 14.0625rem !important

        section#tech-repo
            .pp
                @include mix.logical-size(22.5rem !important, 10.6875rem !important)

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(20.7rem !important, 1.125rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.125rem !important)
                p
                    @include mix.logical-size(17.1rem !important)

@include mix.device-media('display-hd-1080i', portrait)
    main
        section.info
            .carosel
                @include mix.logical-size(29.7rem !important, 7.875rem !important)
                margin-inline-end: 0 !important

                .relative
                    bottom: 2.025rem !important   

                div.btn-container
                    bottom: 10.125rem !important

        section.bio-container
            nav.bio-bar
                button.bio-btn
                    @include mix.font(1.138rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(26.1rem !important, 7.3125rem !important)
                background-size: 11.7rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 0.9rem !important

                    .img-wrapper
                        @include mix.logical-size(19.8rem !important, 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                p
                    @include mix.logical-size(22.5rem !important)
                    margin-inline-start: 3.6rem !important

@include mix.device-media('display-hd-720p', portrait)
    main
        section.info
            .carosel
                @include mix.logical-size(45rem !important)
                margin-inline-end: 0 !important

                .relative
                    bottom: 2.1938rem !important   

                div.btn-container
                    bottom: 11.8125rem !important

                    button.img-btn
                        @include mix.font(3rem !important)

        section.bio-container
            nav.bio-bar
                button.bio-btn
                    @include mix.font(2rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(38.7rem !important, 7.3125rem !important)
                background-size: 17.1rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(36.9rem !important, 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                p
                    @include mix.logical-size(33.3rem !important)
                    margin-inline-start: 3.6rem !important

@include mix.device-media('display-asus-zbc', portrait)
    header
        .slogan-wrapper
            @include mix.font(.7rem !important)
        img
            @include mix.logical-size(13.5rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(31.5rem !important, 14.0625rem)

                .relative
                    bottom: 2.25rem !important
        
                div.btn-container
                    bottom: 9.5625rem !important

            section.bio-container
                    @include mix.logical-size(45rem !important)
            
        section.spec-wrapper
            .spec-class
                @include mix.logical-size(40.5rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(38.7rem !important, 7.875rem !important)
                background-size: 15.3rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(34.2rem !important, 1.125rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                p
                    @include mix.logical-size(22.5rem !important)

@include mix.device-media('display-asus-zbf', portrait)
    header
        .slogan-wrapper
            @include mix.font(.7rem !important)
        img
            @include mix.logical-size(9.9rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(31.5rem !important, 15.1875rem !important)

                .relative
                    bottom: 1.6312rem !important

                div.btn-container
                    bottom: 10.125rem !important

            section.bio-container
                @include mix.logical-size(45rem !important)

                button.bio-btn
                    @include mix.font(1rem !important)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size(40.5rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(25.2rem !important, 6.1875rem !important)
                background-size: 9.9rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(22.5rem !important, 1.125rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.125rem !important)
                p
                    @include mix.logical-size(20.7rem !important)
                    margin-inline-start: 3.6rem !important


//  Landscape
@include mix.device-media('display-hd-1080p', landscape)
    header
        img
            @include mix.logical-size(7.2rem !important)

        .slogan-wrapper
            @include mix.font(.6.3rem !important)
    main
        section.info
            margin-block-end: 9.5625rem !important

            .carosel
                @include mix.logical-size(23.4rem !important, 30.9375rem !important)
                margin-inline-end: 0 !important

                .relative
                    bottom: 2.9812rem !important   

                div.btn-container
                    bottom: 19.6875rem !important

                    button.img-btn
                        @include mix.font(3rem !important)

            section.bio-container
                @include mix.logical-size(45rem)

                p 
                    text-align: justify

        section.spec-wrapper
            .spec-class
                @include mix.logical-size(30.6rem)

                p
                    text-align: justify

        section#tech-repo
            .pp
                @include mix.logical-size(20.7rem !important, 10.125rem !important)
                background-size: 6.3rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 0.9rem !important

                    .img-wrapper
                        @include mix.logical-size(18.9rem !important, 1.125rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.25rem !important)
                p
                    @include mix.logical-size(14.4rem !important)
                    margin-inline-start: 3.6rem !important

            nav#tech-bar
                @include mix.logical-size(42.3rem !important)

@include mix.device-media('display-hd-1080i', landscape)
    main
        section.info
            .carosel
                @include mix.logical-size(29.7rem !important, 24.75rem !important)
                margin-inline-end: 0 !important

                .relative
                    bottom: 2.5875rem !important   

                div.btn-container
                    bottom: 17.4375rem !important

        section#tech-repo
            .pp
                @include mix.logical-size(22.5rem !important, 8.4375rem !important)
                background-size: 8.1rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 0.9rem !important

                    .img-wrapper
                        @include mix.logical-size(19.8rem !important, 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                p
                    @include mix.logical-size(17.1rem !important)

@include mix.device-media('display-hd-720p', landscape)
    main
        section.info
            .carosel
                @include mix.logical-size(null, 28.125rem !important)
                margin-inline-end: 0 !important

                .relative
                    bottom: 3.9375rem !important   

                div.btn-container
                    bottom: 23.625rem !important

                    button.img-btn
                        @include mix.font(2.5rem !important)

            section.bio-container
                nav.bio-bar
                    button.bio-btn
                        @include mix.font(1.37rem !important)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size(43.2rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(26.1rem !important, 11.8125rem !important)
                background-size: 8.1rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 0.9rem !important

                    .img-wrapper
                        @include mix.logical-size(23.4rem !important, 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.25rem !important)
                p
                    @include mix.logical-size(20.7rem !important)

@include mix.device-media('display-asus-zbc', landscape)
    header
        .slogan-wrapper
            @include mix.font(.7rem !important)
        img
            @include mix.logical-size(9.9rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(31.5rem !important, 30.375rem !important)

                .relative
                    bottom: 3.3188rem !important

                div.btn-container
                    bottom: 19.6875rem !important

        section.spec-wrapper
            .spec-class
                @include mix.logical-size(40.5rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(25.2rem !important, 9rem !important)
                background-size: 8.1rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(22.5rem !important, 1.125rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                p
                    @include mix.logical-size(20.7rem !important)
                    margin-inline-start: 3.6rem !important

@include mix.device-media('display-asus-zbf', landscape)
    header
        .slogan-wrapper
            @include mix.font(.7rem !important)

        img
            @include mix.logical-size(13.5rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(22.5rem !important, 19.125rem !important)

                .relative
                    bottom: 2.1938rem !important

                div.btn-container
                    bottom: 13.5rem !important

                    button.img-btn
                        @include mix.font(3rem !important)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size(40.5rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(25.2rem !important, 9rem !important)
                background-size: 9.9rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(22.5rem !important, 2.8125rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                p
                    @include mix.logical-size(17.1rem !important)
                    margin-inline-start: 3.6rem !important
