//  Google Devices Media Query

@use '../../mix/mixins' as mix
@use './breakpoints' as device

//  Portrait
@media only screen and (device.$google-pixel-width <= width <= 26.8125rem) and (min-height: device.$google-pixel-height) and (orientation: portrait)

    header a
        @include mix.font(0.57rem )

    main
        section.info

            .carosel
                @include mix.logical-size(56.7rem !important)

                div.btn-container
                    bottom: 11.8125rem !important

                    button.img-btn
                        @include mix.font(2rem !important)
                .caption
                    @include mix.font(.9rem !important)

                .relative
                    bottom : 2.8125rem !important

// Landscape
@media only screen and (device.$google-pixel-height <= width <= 62.5rem) and (min-height: device.$google-pixel-width) and (orientation: landscape)

    header a
        @include mix.font(0.57rem )

    main
        section.info

            .carosel
                @include mix.logical-size(31.5rem !important, 46.125rem !important)

                div.btn-container
                    bottom: 31.5rem !important

            section.bio-container
                    @include mix.logical-size(45rem !important)

        section#tech-repo
            .pp
                background-size: 9.9rem !important

@media only screen and (device.$google-nh-width <= width <= 68.75rem) and (min-height: device.$google-nh-height) and (orientation: landscape)
    main
        section.info
            .carosel
                .caption
                    bottom: 4.725rem !important

                div.btn-container
                    bottom: 23.0625rem !important

                    button.img-btn
                        @include mix.font(2rem !important)

            section.bio-container
                button.bio-btn
                    @include mix.font(.85rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(null, 16.3125rem !important)

                .tech-container
                    .img-wrapper
                        @include mix.logical-size(22.5rem !important)
                    
                        .img-svg
                            @include mix.logical-size(null, 2.8125rem !important)

@media only screen and (device.$google-nhm-width <= width <= 53.25rem) and (min-height: device.$google-nhm-height) and (orientation: landscape)
    main
        section.info
            .carosel
                @include mix.logical-size(null, 24.75rem !important)
                .caption
                    bottom: 3.6rem !important

                div.btn-container
                    bottom: 19.6875rem !important

                    button.img-btn
                        @include mix.font(2.5rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(null, 11.25rem !important)

                .tech-container
                    .img-wrapper
                        @include mix.logical-size(22.5rem !important)
                    
                        .img-svg
                            @include mix.logical-size(null, 2.8125rem !important)
