//  HTC Devices Media Query

//  Importing dependencies
@use '../../mix/mixins' as mix
@use './breakpoints' as device


//  Portrait
@media only screen and (device.$htc-desire-width <= width <= 21.4375rem) and (min-height: device.$htc-desire-height) and (orientation: portrait)
    main
        section.info
            .carosel
                .caption
                    @include mix.font(1rem !important)

                .relative
                    bottom: 5.2875rem !important
                
                div.btn-container
                    bottom: 23.625rem !important

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 2.7rem !important

                    .img-wrapper
                        @include mix.logical-size(76.5rem !important)

                        .img-svg
                            @include mix.logical-size(null, 3.375rem !important)

@media only screen and (device.$htc-one-width <= width <= 24.9375rem) and (min-height: device.$htc-one-height) and (orientation: portrait)
    header
        .slogan-wrapper
            @include mix.font(.496rem !important)
    main
        section.info
            .carosel
                .caption
                    @include mix.font(1rem !important)

                .relative
                    bottom: 4.3875rem !important
                
                div.btn-container
                    bottom: 21.375rem !important

        section#tech-repo
            .pp

                .tech-container
                    .relative
                        top: 1.125rem !important

                    .img-wrapper
                        @include mix.logical-size(null, 2.8125rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.25rem !important)

@media only screen and (device.$htc-sensation-width <= width <= 37.5rem) and (min-height: device.$htc-sensation-height) and (orientation: portrait)
    header
        .slogan-wrapper
            @include mix.font(.7rem !important)
    main
        section.info
            .carosel
                @include mix.logical-size(null, 36.5625rem)

                .caption
                    @include mix.font(1rem)

                .relative
                    bottom: 2.8687rem !important
                
                div.btn-container
                    bottom: 20.25rem !important

        section.bio-container
            @include mix.logical-size(40.5rem)

        section#tech-repo
            .pp
                @include mix.logical-size(58.5rem !important, 9rem !important)
                background-size: 21.6rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        @include mix.logical-size(53.1rem !important, 2.25rem !important)
                        

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                p
                    @include mix.logical-size(44.1rem !important)
                    margin-inline-start: 7.2rem !important

//  Landscape
@media only screen and (device.$htc-desire-height <= width <= 34.375rem) and (min-height: device.$htc-desire-width) and (orientation: landscape)
    header
        .slogan-wrapper
            @include mix.font(.7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(42.3rem !important)

                .caption
                    @include mix.font(0.8rem !important)
                    
                .relative
                    bottom: 7.0312rem !important

                div.btn-container
                    bottom: 33.75rem !important

        section#tech-repo
            .pp
                @include mix.margin(null, 1rem)
                @include mix.logical-size(36rem !important, 27.5625rem !important)
                background-size: 14.4rem !important

                .tech-container
                    .relative
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(33.3rem !important)

                        .img-svg
                            @include mix.logical-size(null, 3.9375rem !important)
                h3
                    margin-inline-start: 1.8rem !important
                p
                    @include mix.margin(null, 1rem !important)
                    @include mix.logical-size(28.8rem !important)
                    margin-inline-start: 3.6rem !important

@media only screen and (min-width: device.$htc-one-height) and (min-height: device.$htc-one-width) and (orientation: landscape)
    header
        img
            @include mix.logical-size(13.5rem !important)

        .slogan-wrapper
            @include mix.font(.7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(56.7rem !important)

                .caption
                    @include mix.font(1rem)

                .relative
                    bottom: 7.7062rem !important
                
                div.btn-container
                    bottom: 43.875rem !important
        
        section#spec-container
            .spec-class
                @include mix.logical-size(40.5rem)

        section#tech-repo
            .pp
                @include mix.margin(null, 1rem)
                @include mix.logical-size(36rem !important, 23.0625rem !important)
                background-size: 14.4rem !important

                .tech-container
                    .relative
                        top: 1.6875rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(33.3rem !important)
                p
                    
                    @include mix.logical-size(34.2rem !important)
                    margin-inline-start: 2.7rem !important

@media only screen and (min-width: device.$htc-sensation-height) and (min-height: device.$htc-sensation-width) and (max-height: 39.9375rem) and (orientation: landscape)
    header
        .slogan-wrapper
            @include mix.font(.9rem !important)
    main
        section.info
            .carosel
                @include mix.logical-size(28.8rem !important)

                .caption
                    bottom: 5.2313rem !important
                
                div.btn-container
                    bottom: 24.1875rem !important

                    .img-btn
                        @include mix.font(2.5rem !important)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size(40.5rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size(33.3rem !important, 18.5625rem !important)
                background-size: 12.6rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size(30.6rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.8125rem !important)
                p
                    @include mix.font(1rem !important)
                    @include mix.logical-size(19.8rem !important)
                    margin-inline-start: 8.1rem !important
