//  HTC Devices Media Query

//  Importing dependencies
@use './breakpoints' as device


//  Portrait
@media only screen and (device.$htc-desire-width <= width <= 21.4375rem) and (min-height: device.$htc-desire-height) and (orientation: portrait)
    main
        section.info
            .carosel
                .caption
                    font-size: 1rem !important

                .relative
                    bottom: 5.2875rem !important
                
                div.btn-container
                    bottom: 23.625rem !important

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 2.7rem !important

                    .img-wrapper
                        inline-size: 76.5rem !important

                        .img-svg
                            block-size: 3.375rem !important

@media only screen and (device.$htc-one-width <= width <= 24.9375rem) and (min-height: device.$htc-one-height) and (orientation: portrait)
    header
        .slogan-wrapper
            font-size: .496rem !important
    main
        section.info
            .carosel
                .caption
                    font-size: 1rem !important

                .relative
                    bottom: 4.3875rem !important
                
                div.btn-container
                    bottom: 21.375rem !important

        section#tech-repo
            .pp

                .tech-container
                    .relative
                        top: 1.125rem !important

                    .img-wrapper
                        block-size: 2.8125rem !important

                        .img-svg
                            block-size: 2.25rem !important

@media only screen and (device.$htc-sensation-width <= width <= 37.5rem) and (min-height: device.$htc-sensation-height) and (orientation: portrait)
    header
        .slogan-wrapper
            font-size: .7rem !important
    main
        section.info
            .carosel
                block-size: 36.5625rem

                .caption
                    font-size: 1rem

                .relative
                    bottom: 2.8687rem !important
                
                div.btn-container
                    bottom: 20.25rem !important

        section.bio-container
            inline-size: 40.5rem

        section#tech-repo
            .pp
                block-size: 9rem !important
                inline-size: 58.5rem !important
                background-size: 21.6rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        block-size: 2.25rem !important
                        inline-size: 53.1rem !important
                        

                        .img-svg
                            block-size: 1.6875rem !important
                p
                    inline-size: 44.1rem !important
                    margin-inline-start: 7.2rem !important

//  Landscape
@media only screen and (device.$htc-desire-height <= width <= 34.375rem) and (min-height: device.$htc-desire-width) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: .7rem !important

    main
        section.info
            .carosel
                inline-size: 42.3rem !important

                .caption
                    font-size: 0.8rem !important
                    
                .relative
                    bottom: 7.0312rem !important

                div.btn-container
                    bottom: 33.75rem !important

        section#tech-repo
            .pp
                margin-inline: 1rem
                block-size: 27.5625rem !important
                inline-size: 36rem !important
                background-size: 14.4rem !important

                .tech-container
                    .relative
                        left: 1.8rem !important

                    .img-wrapper
                        inline-size: 33.3rem !important

                        .img-svg
                            block-size: 3.9375rem !important
                h3
                    margin-inline-start: 1.8rem !important
                p
                    margin-inline: 1rem !important
                    inline-size: 28.8rem !important
                    margin-inline-start: 3.6rem !important

@media only screen and (min-width: device.$htc-one-height) and (min-height: device.$htc-one-width) and (orientation: landscape)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper
            font-size: .7rem !important

    main
        section.info
            .carosel
                inline-size: 56.7rem !important

                .caption
                    font-size: 1rem

                .relative
                    bottom: 7.7062rem !important
                
                div.btn-container
                    bottom: 43.875rem !important
        
        section#spec-container
            .spec-class
                inline-size: 40.5rem

        section#tech-repo
            .pp
                margin-inline: 1rem
                block-size: 23.0625rem !important
                inline-size: 36rem !important
                background-size: 14.4rem !important

                .tech-container
                    .relative
                        top: 1.6875rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        inline-size: 33.3rem !important
                p
                    
                    inline-size: 34.2rem !important
                    margin-inline-start: 2.7rem !important

@media only screen and (min-width: device.$htc-sensation-height) and (min-height: device.$htc-sensation-width) and (max-height: 39.9375rem) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: .9rem !important
    main
        section.info
            .carosel
                inline-size: 28.8rem !important

                .caption
                    bottom: 5.2313rem !important
                
                div.btn-container
                    bottom: 24.1875rem !important

                    .img-btn
                        font-size: 2.5rem !important

        section.spec-wrapper
            .spec-class
                inline-size: 40.5rem !important

        section#tech-repo
            .pp
                block-size: 18.5625rem !important
                inline-size: 33.3rem !important
                background-size: 12.6rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        inline-size: 30.6rem !important

                        .img-svg
                            block-size: 2.8125rem !important
                p
                    font-size: 1rem !important
                    inline-size: 19.8rem !important
                    margin-inline-start: 8.1rem !important
