//  Microsoft Devices Media Queries

//  Importing dependencies
@use '../../mix/mixins' as mix
@use './breakpoints' as device

//  Portrait
@media only screen and (device.$surface-pro-width <= width <= 63.9375rem) and (min-height: device.$surface-pro-height) and (orientation: portrait)

    header
        .slogan-wrapper
            @include mix.font($size: 0.9rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(null, 14.0625rem !important)

                .caption
                    bottom: 2.025rem !important

                div.btn-container
                    bottom: 9.5625rem !important

            section.bio-container
                @include mix.logical-size(45rem !important)


        section#spec-container

            .spec-class
                @include mix.logical-size(75.6rem)

        section#tech-repo
            .pp
                @include mix.logical-size(31.5rem !important, 7.3125rem !important)
                background-size: 12.6rem !important

                .tech-container
                    .img-wrapper
                        @include mix.logical-size(28.8rem !important, 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.125rem !important)
                p
                    @include mix.logical-size(22.5rem !important)
                    margin-inline-start: 4.5rem !important

@media only screen and (min-width: device.$surface-duoc-width) and (device.$surface-duoc-height <= height <= 51.75rem) and (orientation: portrait)
    header
        .slogan-wrapper
            @include mix.font($size: 0.9rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(42.3rem !important)

                .caption
                    @include mix.font($size: 1rem)

                .relative
                    bottom: 3.8813rem !important

                div.btn-container
                    bottom: 16.3125rem !important

        section.spec-wrapper
            @include mix.logical-size(100%)

            .spec-class
                @include mix.logical-size(75.6rem)
    
                .h3-link
                    @include mix.margin(0.5625rem)

                .tech-container
                    @include mix.logical-size(78.3rem)

                .spec-course
                    .h4-link
                        @include mix.margin(0.5625rem)

        section#tech-repo

            .pp
                @include mix.logical-size(56.7rem !important, 11.8125rem !important)
                background-size: 19.8rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 3.6rem !important
                    
                    .img-wrapper
                        @include mix.logical-size(52.2rem !important, 1.6875rem !important)
                        margin-inline-start: 0rem !important

                        .img-svg
                            @include mix.logical-size(null, 2.25rem !important)
                p
                    @include mix.logical-size(45.9rem !important)
                    margin-inline-start: 9rem !important

@media only screen and (device.$surface-duof-height <= width <=  49.9375rem) and (min-height: device.$surface-duof-width) and (orientation: portrait)
    header
        .slogan-wrapper
            @include mix.font($size: 0.9rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(31.5rem !important, 33.3rem !important)

                .relative
                    bottom: 2.5312rem !important

                div.btn-container
                    bottom: 10.125rem !important
            
            section.bio-container
                @include mix.logical-size(45rem !important)


        section.spec-wrapper
            .spec-class
                @include mix.logical-size(75.6rem)

        section#tech-repo

            .pp
                @include mix.logical-size(38.7rem !important, 10.125rem !important)
                background-size: 19.8rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                    
                    .img-wrapper
                        @include mix.logical-size(35.1rem !important, 3.375rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.25rem !important)
                p
                    @include mix.logical-size(29.7rem !important)
                    margin-inline-start: 3.6rem !important


//  Landscape
@media only screen and (device.$surface-pro-height <= width <= 99.9375rem) and (min-height: device.$surface-pro-width) and (orientation: landscape)

    header
        .slogan-wrapper
            @include mix.font($size: 0.9rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(31.5rem !important, 30.375rem !important)

                .relative
                    bottom: 3.0938rem !important

                div.btn-container
                    bottom: 19.6875rem !important

                    button.img-btn
                        @include mix.font($size: 2.5rem)

            section.bio-container
                @include mix.logical-size(45rem !important)


        section#spec-container
            .spec-class
                @include mix.logical-size(75.6rem)

        section#tech-repo
            .pp
                @include mix.logical-size(26.1rem !important, 9.5625rem !important)
                background-size: 9.9rem !important

                .tech-container
                    .img-wrapper
                        @include mix.logical-size(23.4rem !important, 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size(null, 1.6875rem !important)
                p
                    @include mix.logical-size(17.1rem !important)
                    margin-inline-start: 4.5rem !important

@media only screen and (device.$surface-duoc-height <= width <= 49.9375rem) and (min-height: device.$surface-duoc-width) and (orientation: landscape)

    header
        img
            @include mix.logical-size(11.7rem !important)

        .slogan-wrapper
            @include mix.font($size: 0.9rem !important)

   
    main
        section.info
            .carosel
                @include mix.logical-size(31.5rem !important, 29.25rem !important)

                .relative
                    bottom: 5.2313rem !important

                div.btn-container
                    bottom: 23.0625rem !important

            section.bio-container
                @include mix.logical-size(45rem !important)

        section.spec-wrapper
            @include mix.logical-size(100%)

            .spec-class
                @include mix.logical-size(40.5rem)

        section#tech-repo

            .pp
                @include mix.logical-size(34.2rem !important, 15.75rem !important)
                background-size: 12.6rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important
                    
                    .img-wrapper
                        @include mix.logical-size(31.5rem !important, 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.8125rem !important)
                h3
                    margin-inline-start: 0 !important
                p
                    @include mix.logical-size(27rem !important)
                    margin-inline-start: 4.5rem !important

@media only screen and (device.$surface-duof-width <= width <= 73.6875rem) and (device.$surface-duof-height <= height <= 51.75rem) and (orientation: landscape)
    header
        .slogan-wrapper
            @include mix.font($size: 0.9rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(31.5rem !important, 31.5rem !important)

                .relative
                    bottom: 3.8813rem !important

                div.btn-container
                    bottom: 20.8125rem !important

                    button.img-btn
                        @include mix.font($size: 2.5rem !important)

            section.bio-container
                @include mix.logical-size(45rem !important)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size(75.6rem)
    
                .h3-link
                    @include mix.margin(0.5625rem)

                .tech-container
                    @include mix.logical-size(78.3rem)

                .spec-course
                    .h4-link
                        @include mix.margin(0.5625rem)

        section#tech-repo

            .pp
                @include mix.logical-size(25.2rem !important, 11.8125rem !important)
                background-size: 10.8rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important
                    
                    .img-wrapper
                        @include mix.logical-size(20.7rem !important, 2.8125rem !important)
                        margin-inline-start: 0rem !important

                        .img-svg
                            @include mix.logical-size(null, 2.25rem !important)
                p
                    @include mix.logical-size(17.1rem !important)
                    margin-inline-start: 4.5rem !important
