//  Motorola Media Queries

//  Breakpoints
@use '../../mix/mixins' as mix
@use './breakpoints' as device

//  Portraits
@media only screen and (device.$motorola-mobility-milestone-width <= width <= 21.4375rem) and (min-height: device.$motorola-mobility-milestone-height) and (orientation: portrait)
    header
        .slogan-wrapper
            @include mix.font($size: 0.398rem !important)

    main
        section.info
            .carosel

                .caption
                    bottom: 4.8937rem !important

                div.btn-container
                    bottom: 21.375rem !important

        section#tech-repo
            .pp
                @include mix.logical-size(72rem !important, 16.875rem !important)
                background-size: 28.8rem !important

                .tech-container

                    .img-wrapper
                        @include mix.logical-size(66.6rem !important, 3.375rem !important)

                        .img-svg
                            @include mix.logical-size(null, 2.8125rem !important)

                p
                    @include mix.font($size: 1rem !important)
                    @include mix.logical-size(63.9rem !important)
                    margin-inline-start: 6.3rem !important

//  Landscape
@media only screen and (device.$motorola-mobility-milestone-height <= width <= 39.9375rem) and (min-height: device.$motorola-mobility-milestone-width) and (orientation: landscape)
    header
        img
            @include mix.logical-size(13.5rem !important)
        .slogan-wrapper 
            @include mix.font($size: 0.7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size(45rem !important)

                .caption
                    @include mix.font($size: 1rem)

                .relative
                    bottom: 8.775rem !important

                div.btn-container
                    bottom: 37.125rem !important

        section#tech-repo
            .pp
                @include mix.margin(null, 1rem)
                @include mix.logical-size(36.9rem !important, 28.125rem !important)
                background-size: 14.4rem !important

                .tech-container
                    .relative
                        top: 1.6875rem !important
                        left: 2.7rem !important

                    .img-wrapper
                        @include mix.logical-size(32.4rem !important)

                p
                    @include mix.logical-size(32.4rem !important)
                    margin-inline-start: 2.7rem !important
