//  Samsung Devices Media Queries

//  Importing dependencies
@use './breakpoints' as device

//  Portrait Media Queries
@media only screen and (device.$samsung-tab-width <= width <= 25.8125rem) and (min-height: device.$samsung-tab-height) and (orientation: portrait)

    header
        .slogan-wrapper
            font-size: .6rem !important

    main
        section.info
            .carosel
            
                div.btn-container
                    bottom: 22.5rem
                
                    button.img-btn
                        font-size: 2.5rem

                .caption
                    font-size: 1rem
                
                .relative
                    bottom: 4.1063rem

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 1.125rem
                        left: 2.7rem
                    .img-wrapper
                        block-size: 2.8125rem !important
                        inline-size: 75.6rem !important

                        .img-svg
                            block-size: 2.25rem !important
                p
                    inline-size: 63rem

@media only screen and (device.$samsung-gcz5-width <= width <= 22.4375rem) and (min-height: device.$samsung-gcz5-height) and (orientation: portrait)
    header
        .slogan-wrapper
            font-size: 0.5rem !important

    main
        section.info
            .carosel
                
                div.btn-container
                    bottom: 15.75rem !important

                .caption
                    bottom: 3.15rem !important
            
        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        block-size: 1.6875rem !important
                        inline-size: 72rem !important
                    
                        .img-svg
                            block-size: 2.25rem !important

@media only screen and (device.$samsung-gfz5-width <= width <=  44.9375rem) and (min-height: device.$samsung-gfz5-height) and (orientation: portrait)
    header
        .slogan-wrapper
            font-size: 0.5rem !important

    main
        section.info
            .carosel
                block-size: 23.625rem 
                inline-size: 31.5rem !important

                div.btn-container
                    bottom: 17.4375rem !important

                .caption
                    bottom: 3.375rem !important
            section.bio-container
                inline-size: 36rem !important
        section.spec-wrapper
            .spec-class
                inline-size: 40.5rem !important

        section#tech-repo
            .pp
                margin-inline: 1rem
                block-size: 11.8125rem
                inline-size: 38.7rem !important
                background-size: 18rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        block-size: 2.25rem !important
                        inline-size: 34.2rem !important
                    
                        .img-svg
                            block-size: 2.25rem !important
                p
                    inline-size: 27.9rem !important
                    margin-inline-start: 9.9rem !important

@media only screen and (device.$samsung-gs8-width <= width <= 23.375rem) and (min-height: device.$samsung-gs8-height) and (orientation: portrait)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper
            font-size: .7rem !important

    main
        section.info
            .carosel
            
                div.btn-container
                    bottom: 19.6875rem !important

                .caption
                    bottom: 3.825rem !important

@media only screen and (device.$samsung-ga5171-width <= width <= 26.8125rem) and (min-height: device.$samsung-ga5171-height) and (orientation: portrait)
    main
        section.info
            .carosel
                .relative
                    bottom: 3.0375rem !important

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        block-size: 2.25rem !important
                    
                        .img-svg
                            block-size: 2.25rem !important

//  Landscape Media Queries
@media only screen and (device.$samsung-tab-height <= width <= 45.9375rem) and (min-height: device.$samsung-tab-width) and (orientation: landscape)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper
            font-size: .7rem !important

    main
        section.info
            .carosel
                block-size: 41.625rem !important
                inline-size: 36rem !important

                div.btn-container
                    bottom: 29.25rem !important


                .caption
                    bottom: 6.975rem !important

            section.bio-container
                inline-size: 45rem !important
        section#tech-repo
            .pp
                .tech-container
                    .img-wrapper
                        block-size: 3.9375rem !important

                        .img-svg
                            block-size: 3.375rem !important
                p
                    inline-size: 27.9rem !important

@media only screen and (device.$samsung-gs8-height <= width <= 51.75rem) and (min-height: device.$samsung-gs8-width) and (orientation: landscape)
    header
        img
            inline-size: 13.5rem !important

        .slogan-wrapper
            font-size: .7rem !important

    main
        section.info
            .carosel
                inline-size: 31.5rem !important

                div.btn-container
                    bottom: 30.9375rem !important

                .caption
                    bottom: 7.7625rem !important
            
            section.bio-container
                inline-size: 45rem !important
        
        section#tech-repo
            .pp
                background-size: 11.7rem !important
            
                p
                    inline-size: 32.4rem !important

@media only screen and (device.$samsung-gcz5-height <= width <= 55.9375rem) and (min-height: device.$samsung-gcz5-width) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: 0.5rem !important

    main
        section.info
            .carosel
                block-size: 53.4375rem !important
                inline-size: 31.5rem !important

                div.btn-container
                    bottom: 36.5625rem !important

                .relative
                    bottom: 8.2687rem !important

            section.bio-container
                inline-size: 45rem !important

        section.spec-wrapper
            .spec-class
                inline-size: 40.5rem 

        section#tech-repo
            .pp
                margin-inline: 1rem
                block-size: 25.3125rem !important
                inline-size: 25.2rem !important
                background-size: 9.9rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        block-size: 4.5rem !important
                        inline-size: 20.7rem !important
                    
                        .img-svg
                            block-size: 3.9375rem !important
                p
                    inline-size: 20.7rem !important
                    margin-inline-start: 2.7rem !important

@media only screen and (device.$samsung-gfz5-height <= width <= 53.3125rem) and (min-height: device.$samsung-gfz5-width) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: 0.5rem !important

    main
        section.info
            .carosel
                block-size: 25.3125rem !important
                inline-size: 31.5rem !important

                div.btn-container
                    bottom: 20.8125rem !important

                .caption
                    bottom: 4.1063rem !important

            section.bio-container
                inline-size: 45rem         
        section.spec-wrapper
            .spec-class
                inline-size: 40.5rem !important

        section#tech-repo
            .pp
                block-size: 11.25rem !important
                inline-size: 38.7rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        block-size: 2.25rem !important
                        inline-size: 36rem !important
                    
                        .img-svg
                            block-size: 2.25rem !important
                p
                    inline-size: 36rem !important

@media only screen and (device.$samsung-ga5171-height <= width <= 57.8125rem) and (min-height: device.$samsung-ga5171-width) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: 0.5rem !important

    main
        section.info
            .carosel
                block-size: 46.125rem !important
                inline-size: 31.5rem !important

                div.btn-container
                    bottom: 30.375rem !important

                .relative
                    bottom: 6.8062rem !important

            section.bio-container
                inline-size: 45rem

        section.spec-wrapper
            .spec-class
                inline-size: 40.5rem !important

        section#tech-repo
            .pp
                block-size: 22.5rem !important
                inline-size: 25.2rem !important
                background-size: 9.9rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important

                    .img-wrapper
                        block-size: 4.5rem !important
                        inline-size: 22.5rem !important
                    
                        .img-svg
                            block-size: 3.375rem !important
                p
                    inline-size: 20.7rem !important
                    margin-inline-start: 2.7rem !important
