//  Samsung Devices Media Queries

//  Importing dependencies
@use '../../mix/mixins' as mix
@use './breakpoints' as device

//  Portrait Media Queries
@media only screen and (device.$samsung-tab-width <= width <= 25.8125rem) and (min-height: device.$samsung-tab-height) and (orientation: portrait)

    header
        .slogan-wrapper
            @include mix.font($size: .6rem !important)

    main
        section.info
            .carosel
            
                div.btn-container
                    bottom: 22.5rem
                
                    button.img-btn
                        @include mix.font($size: 2.5rem)

                .caption
                    @include mix.font($size: 1rem)
                
                .relative
                    bottom: 4.1063rem

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 1.125rem
                        left: 2.7rem
                    .img-wrapper
                        @include mix.logical-size($inline: 75.6rem !important, $block: 2.8125rem !important)

                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)
                p
                    @include mix.logical-size($inline: 63rem)

@media only screen and (device.$samsung-gcz5-width <= width <= 22.4375rem) and (min-height: device.$samsung-gcz5-height) and (orientation: portrait)
    header
        .slogan-wrapper
            @include mix.font($size: 0.5rem !important)

    main
        section.info
            .carosel
                
                div.btn-container
                    bottom: 15.75rem !important

                .caption
                    bottom: 3.15rem !important
            
        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 72rem !important, $block: 1.6875rem !important)
                    
                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)

@media only screen and (device.$samsung-gfz5-width <= width <=  44.9375rem) and (min-height: device.$samsung-gfz5-height) and (orientation: portrait)
    header
        .slogan-wrapper
            @include mix.font($size: 0.5rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important, $block: 23.625rem)

                div.btn-container
                    bottom: 17.4375rem !important

                .caption
                    bottom: 3.375rem !important
            section.bio-container
                @include mix.logical-size($inline: 36rem !important)
        section.spec-wrapper
            .spec-class
                @include mix.logical-size($inline: 40.5rem !important)

        section#tech-repo
            .pp
                @include mix.margin($inline: 1rem)
                @include mix.logical-size($inline: 38.7rem !important, $block: 11.8125rem)
                background-size: 18rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 34.2rem !important, $block: 2.25rem !important)
                    
                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)
                p
                    @include mix.logical-size($inline: 27.9rem !important)
                    margin-inline-start: 9.9rem !important

@media only screen and (device.$samsung-gs8-width <= width <= 23.375rem) and (min-height: device.$samsung-gs8-height) and (orientation: portrait)
    header
        img
            @include mix.logical-size($inline: 13.5rem !important)

        .slogan-wrapper
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
            
                div.btn-container
                    bottom: 19.6875rem !important

                .caption
                    bottom: 3.825rem !important

@media only screen and (device.$samsung-ga5171-width <= width <= 26.8125rem) and (min-height: device.$samsung-ga5171-height) and (orientation: portrait)
    main
        section.info
            .carosel
                .relative
                    bottom: 3.0375rem !important

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        @include mix.logical-size($block: 2.25rem !important)
                    
                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)

//  Landscape Media Queries
@media only screen and (device.$samsung-tab-height <= width <= 45.9375rem) and (min-height: device.$samsung-tab-width) and (orientation: landscape)
    header
        img
            @include mix.logical-size($inline: 13.5rem !important)

        .slogan-wrapper
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 36rem !important, $block: 41.625rem !important)

                div.btn-container
                    bottom: 29.25rem !important


                .caption
                    bottom: 6.975rem !important

            section.bio-container
                @include mix.logical-size($inline: 45rem !important)
        section#tech-repo
            .pp
                .tech-container
                    .img-wrapper
                        @include mix.logical-size($block: 3.9375rem !important)

                        .img-svg
                            @include mix.logical-size($block: 3.375rem !important)
                p
                    @include mix.logical-size($inline: 27.9rem !important)

@media only screen and (device.$samsung-gs8-height <= width <= 51.75rem) and (min-height: device.$samsung-gs8-width) and (orientation: landscape)
    header
        img
            @include mix.logical-size($inline: 13.5rem !important)

        .slogan-wrapper
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important)

                div.btn-container
                    bottom: 30.9375rem !important

                .caption
                    bottom: 7.7625rem !important
            
            section.bio-container
                @include mix.logical-size($inline: 45rem !important)
        
        section#tech-repo
            .pp
                background-size: 11.7rem !important
            
                p
                    @include mix.logical-size($inline: 32.4rem !important)

@media only screen and (device.$samsung-gcz5-height <= width <= 55.9375rem) and (min-height: device.$samsung-gcz5-width) and (orientation: landscape)
    header
        .slogan-wrapper
            @include mix.font($size: 0.5rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important, $block: 53.4375rem !important)

                div.btn-container
                    bottom: 36.5625rem !important

                .relative
                    bottom: 8.2687rem !important

            section.bio-container
                @include mix.logical-size($inline: 45rem !important)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size($inline: 40.5rem)

        section#tech-repo
            .pp
                @include mix.margin($inline: 1rem)
                @include mix.logical-size($inline: 25.2rem !important, $block: 25.3125rem !important)
                background-size: 9.9rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 20.7rem !important, $block: 4.5rem !important)
                    
                        .img-svg
                            @include mix.logical-size($block: 3.9375rem !important)
                p
                    @include mix.logical-size($inline: 20.7rem !important)
                    margin-inline-start: 2.7rem !important

@media only screen and (device.$samsung-gfz5-height <= width <= 53.3125rem) and (min-height: device.$samsung-gfz5-width) and (orientation: landscape)
    header
        .slogan-wrapper
            @include mix.font($size: 0.5rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important, $block: 25.3125rem !important)

                div.btn-container
                    bottom: 20.8125rem !important

                .caption
                    bottom: 4.1063rem !important

            section.bio-container
                @include mix.logical-size($inline: 45rem)         
        section.spec-wrapper
            .spec-class
                @include mix.logical-size($inline: 40.5rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size($inline: 38.7rem !important, $block: 11.25rem !important)

                .tech-container
                    .relative
                        top: 0.5625rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 36rem !important, $block: 2.25rem !important)
                    
                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)
                p
                    @include mix.logical-size($inline: 36rem !important)

@media only screen and (device.$samsung-ga5171-height <= width <= 57.8125rem) and (min-height: device.$samsung-ga5171-width) and (orientation: landscape)
    header
        .slogan-wrapper
            @include mix.font($size: 0.5rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important, $block: 46.125rem !important)

                div.btn-container
                    bottom: 30.375rem !important

                .relative
                    bottom: 6.8062rem !important

            section.bio-container
                @include mix.logical-size($inline: 45rem)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size($inline: 40.5rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size($inline: 25.2rem !important, $block: 22.5rem !important)
                background-size: 9.9rem !important

                .tech-container
                    .relative
                        top: 1.125rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 22.5rem !important, $block: 4.5rem !important)
                    
                        .img-svg
                            @include mix.logical-size($block: 3.375rem !important)
                p
                    @include mix.logical-size($inline: 20.7rem !important)
                    margin-inline-start: 2.7rem !important
