// Sharp Media Queries
// Issues with mq
//  Import dependencies
@use '../../mix/mixins' as mix
@use './breakpoints' as device


@media only screen and (min-width: device.$sharp-941sh-width) and (min-height: device.$sharp-941sh-height) and (orientation: portrait)
    header 
        .slogan-wrapper 
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
                .caption
                    @include mix.font($size: 1rem)

                .relative
                    bottom: 2.7563rem !important

            div.btn-container
                bottom: 16.875rem !important
                @include mix.logical-size($inline: 100% !important)

        section#tech-repo
            .pp
                @include mix.logical-size($inline: 58.5rem !important, $block: 7.875rem !important)
                background-size: 22.5rem !important

                .tech-container

                    .relative
                        top: 0.5625rem !important

                .img-wrapper
                    @include mix.logical-size($inline: 54rem !important, $block: 1.6875rem !important)

                    .img-svg
                        @include mix.logical-size($block: 2.25rem !important)
                p
                    @include mix.logical-size($inline: 50.4rem !important)
                    margin-inline-start: 5.4rem !important

@media only screen and (min-width: device.$sharp-is03-width) and (min-height: device.$sharp-is03-height) and (orientation: portrait)
    header 
        img
            @include mix.logical-size($inline: 9.9rem !important)

        .slogan-wrapper 
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important)

                .caption
                    @include mix.font($size: 1rem)

                .relative
                    bottom: 2.925rem !important

                div.btn-container
                    bottom: 10.6875rem !important
            
            div.bio-container
                @include mix.logical-size($inline: 45rem)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size($inline: 40.5rem !important)
        
        section#tech-repo
            .pp
                @include mix.margin($inline: 1rem)
                @include mix.logical-size($inline: 38.7rem !important, $block: 12.375rem !important)
                background-size: 18rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 34.2rem !important, $block: 2.8125rem !important)

                        .img-svg
                            @include mix.logical-size($block: 1.6875rem !important)
                p
                    @include mix.logical-size($inline: 31.5rem !important)
                    margin-inline-start: 3.6rem !important


@media only screen and (device.$sharp-941sh-height <= width <= 69.5625rem) and (device.$sharp-941sh-width <= height <= 37.4375rem) and (orientation: landscape)
    header
        img
            @include mix.logical-size($inline: 9.9rem !important)

        .slogan-wrapper 
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important, $block: 43.875rem !important)

                .caption
                    bottom: 5.7938rem !important

                div.btn-container
                    bottom: 28.6875rem !important
                    @include mix.logical-size($inline: 100% !important)
                
                    button.img-btn
                        @include mix.font($size: 2.5rem !important)
            section.bio-container
                @include mix.logical-size($inline: 45rem)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size($inline: 42.3rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size($inline: 31.5rem !important, $block: 16.875rem !important)
                background-size: 10.8rem !important

                .tech-container
                    .relative
                        top: 1.6875rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 28.8rem !important, $block: 2.8125rem !important)

                        .img-svg
                            @include mix.logical-size($block: 2.8125rem !important)
                p
                    @include mix.logical-size($inline: 24.3rem !important)
                    margin-inline-start: 3.6rem !important

@media only screen and (min-width: device.$sharp-is03-height) and (min-height: device.$sharp-is03-width) and (orientation: landscape)
    header
        img
            @include mix.logical-size($inline: 9.9rem !important)

        .slogan-wrapper 
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 45rem !important, $block: 14.625rem !important)

                .caption
                    bottom: 4.5rem !important

                div.btn-container
                    bottom: 25.3125rem !important

                button.img-btn
                    @include mix.font($size: 2.5rem !important)

        section.spec-wrapper
            .spec-class
                @include mix.logical-size($inline: 40.5rem !important)
        
        section#tech-repo
            .pp
                @include mix.logical-size($inline: 25.2rem !important, $block: 11.25rem !important)
                background-size: 9rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 23.4rem !important, $block: 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)
                p
                    @include mix.logical-size($inline: 20.7rem !important)
                    margin-inline-start: 3.6rem !important
