//  Sony Devices Media Queries

//  Importing dependencies
@use '../../mix/mixins' as mix
@use './breakpoints' as device

// Ericsson Portrait
@media only screen and (device.$sony-ericsson-u-width <= width <= 31.1875rem) and (device.$sony-ericsson-u-height <= height <= 56.25rem) and (orientation: portrait)

    main
        section.info
            .carosel
                div.btn-container
                    bottom: 19.125rem !important
                
                .caption
                    @include mix.font($size: 1rem !important)

                .relative
                    bottom: 3.3188rem !important
        
        section#tech-repo
            .pp
                @include mix.logical-size($inline: 51.3rem !important, $block: 15.1875rem !important)
                background-size: 19.8rem !important
            
                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 3.6rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 46.8rem !important)

                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)
                p
                    @include mix.logical-size($inline: 35.1rem !important)

// Ericsson Lanscape
@media only screen and (device.$sony-ericsson-u-height <= width <= 56.1875rem) and (min-height: device.$sony-ericsson-u-width) and (orientation: landscape)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 27.9rem !important, $block: 32.625rem)

                .caption
                    bottom: 5.9625rem !important

                div.btn-container
                    bottom: 23.625rem !important

                    .img-btn
                        @include mix.font($size: 2.5rem)

            section.bio-container
                @include mix.logical-size($inline: 47.7rem !important)

        section#tech-repo
            .pp
                @include mix.logical-size($inline: 33.3rem !important, $block: 20.25rem !important)
                background-size: 11.7rem !important
            
                .tech-container
                    .relative
                        top: 1.125rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 30.6rem !important)

                        .img-svg
                            @include mix.logical-size($block: 2.8125rem !important)
                p
                    @include mix.logical-size($inline: 29.7rem !important)
