// Third-party dependencies
@use 'pkg:lumina-sass/mix' as l-mix
@use 'pkg:lumina-sass/color' as l-color

//  Internal dependencies
@forward './mixins'
@forward './pages/dev'
@forward './assets/images'
@forward './pages/portfolio'
@forward './pages/misc-pages'

@forward './components/cards'
@forward './components/icons'
@forward './components/article'
@forward './components/buttons'
@forward './components/timeline'
@forward './components/elements'
@forward './components/navigation'
@forward './components/grid-container'

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')


*, *::before, *::after
    box-sizing: border-box
    writing-mode: horizontal-tb
    @include l-mix.margin(auto)

body
    h1, h2, h3, h4, h5, h6
        text-align: center
        color: l-color.$text-base-dark-grey
        @include l-mix.margin($inline: auto, $block: 0.5rem)

    @include l-mix.text-wrap-safe()
    @include l-mix.apply-theme-colors(l-color.$neutral-off-white, l-color.$text-base-dark-grey, 'Nunito')

.col-3
    flex: 0 0 32%
    @include l-mix.margin(0.5%)


header, main
    @include l-mix.margin($inline: auto, $block: 0 3rem)

main > .card-content
    @include l-mix.margin($block: 0)

footer
    padding: 0.9rem
    @include l-mix.margin($inline: auto, $block: 0.9rem)

.page-alert
    h2
        text-align: left