@use './mix/mixins' as mix
@use './colors/colors' as color

@forward './views/dev'
@forward './views/portfolio'

@forward './utils/cards'
@forward './utils/icons'
@forward './utils/article'

@forward './utils/buttons'
@forward './utils/flexbox'
@forward './utils/timeline'

@forward './utils/navigation'
@forward './utils/components'
@forward './utils/grid-container'

@forward './mix/generators'

@forward './media/images'

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')

*, *::before, *::after
    margin: auto
    box-sizing: border-box
    writing-mode: horizontal-tb
    

body
    h1, h2, h3, h4, h5, h6
        text-align: center
        margin: 0.5rem auto
        color: color.$dark-grey

    @include mix.text-wrap-safe()
    @include mix.font-style('Nunito')
    @include mix.background-style(color.$off-white, color.$dark-grey)

header, main
    margin-inline: auto
    margin-block-end: 3rem

main > .card-content
    margin-block-end: 0

footer
    padding: 0.9rem
    margin: 0.9rem auto