@use 'lumina-sass' as *
@use './mix/mixins' as mix
@use 'lumina-sass/color' as color

@forward './views/dev'
@forward './views/portfolio'

@forward './utils/cards'
@forward './utils/icons'
@forward './utils/article'

@forward './utils/buttons'
@forward './utils/timeline'

@forward './utils/navigation'
@forward './utils/components'
@forward './utils/grid-container'

@forward './mix/generators'

@forward './media/images'

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')

*, *::before, *::after
    box-sizing: border-box
    writing-mode: horizontal-tb
    @include mix.margin($block: auto, $inline: auto)
body
    h1, h2, h3, h4, h5, h6
        text-align: center
        color: color.$text-base-dark-grey

        @include mix.margin($block: 0.5rem, $inline: auto)

    @include mix.text-wrap-safe()
    @include mix.font($font: 'Nunito')
    @include mix.background-color(color.$neutral-off-white, color.$text-base-dark-grey)

.col-3
    margin: 0.5%
    flex: 0 0 32%

header, main
    @include mix.margin($inline: auto, $block: 0 3rem)

main > .card-content
    @include mix.margin($block: 0)

footer
    @include mix.padding(0.9rem)
    @include mix.margin($inline: auto, $block: 0.9rem)
