@use '../mix/mixins' as mix
@use '../mix/button-mixins' as btn
@use '../colors/colors' as color

article
    header
        @include mix.logical-center()
        margin-block: 0
        .article-metadata
            span.meta-date
                margin-inline-end: 1rem
            a
                display: inline-block
                text-decoration: none
                margin: 0.2rem
                font-size: 0.85rem
    nav
        @include mix.list-inline-reset()
        ul
            li
                a
                    color: color.$dark-grey
                    text-decoration: none

    section
        @include mix.logical-center()
        margin-block: 0
        max-inline-size: 100%

    .pagination-container, .blog-section
        margin-block: 2rem
        margin-inline: 0
        max-inline-size: 100%

    .article-wrapper
        @include mix.logical-center()
        margin-block: 0
        max-inline-size: 100%

    .article-content
        @include mix.logical-center()
        margin-block: 2rem

        div
            h4
                margin-block: 1rem

    .ingress-header
        block-size: auto

    .blog-header
        block-size: 32rem
        margin-block: 2rem
        margin-inline: 0.5rem
        max-inline-size: 29rem
        box-shadow: 0 0 0.625rem rgba(color.$dark-grey, 0.2)

    .blog-header, .ingress-header
        p.article-metadata
            span
                margin: auto

        p
            font-size: 1.1rem
            padding-block: 0.5rem
            padding-inline: 1rem

        padding-inline: 0.5rem
        padding-block: 0
    .article-content, .blog-header, .ingress-header
        code
            z-index: -1
            font-style: italic
            border-radius: 0.25rem
            color: color.$white
            position: relative
            padding-block: 0.2rem
            padding-inline: 0.4rem
            background-color: color.$dark-grey
            font-family: 'Courier New', Courier, monospace

        pre
            padding: 1rem
            border-radius: 0.25rem
            background-color: color.$dark-grey

    .article-content, .ingress-header
        font-size: 1.5rem
        max-inline-size: 44rem

    .article-content, .bio-content, .ingress-content
        h1,h2,h3,h4,h5,h6
            a
                cursor: text
                color: inherit
                text-decoration: none

            margin-block: auto
            margin-inline: 0
            text-align: left
        
        abbr
            z-index: 1
            cursor: help            
            position: relative
            text-decoration: none !important
            border-block-end: 0.0625rem dotted rgb(255, 69, 0)!important

    @include mix.text-wrap-safe()

article.bio
    h2
        font-size: 2.5rem
    p
        text-align: justify
        max-inline-size: 50rem
        @include mix.logical-center()
        margin-block: 0.5rem

    ul
        li
            margin-block: 0.5rem
        @include mix.logical-center()
        max-inline-size: 47rem
    div
        @include mix.logical-center()
        margin-block: 3rem
        max-inline-size: 50rem

article.profile-bar

    section
        margin-block: auto
        margin-inline: 0.25rem
        max-inline-size: 18rem

    section.profile-content
        p
            h2
                margin: 0
                @include mix.logical-size($inline: 8rem)
                text-align: left
                display: inline-block

        .slogan-wrapper
            @include mix.logical-size($inline: 17rem)
