@use '../mix/mixins' as mix
@use '../mix/button-mixins' as btn
@use '../colors/colors' as color

article
    header
        @include mix.logical-center()
        @include mix.margin($block: 0)
        .article-metadata
            span.meta-date
                @include mix.margin($inline: 0 1rem)
            a
                display: inline-block
                text-decoration: none
                @include mix.margin(0.2rem, 0.2rem)
                @include mix.font($size: 0.85rem)
    nav
        @include mix.list-inline-reset()
        ul
            li
                a
                    color: color.$dark-grey
                    text-decoration: none

    section
        @include mix.logical-center()
        @include mix.margin($block: 0)
        max-inline-size: 100%

    .pagination-container, .blog-section
        @include mix.margin($block: 2rem, $inline: 0)
        max-inline-size: 100%

    .article-wrapper
        @include mix.logical-center()
        @include mix.margin($block: 0)
        max-inline-size: 100%

    .article-content
        @include mix.logical-center()
        @include mix.margin($block: 2rem)

        div
            h4
                @include mix.margin($block: 1rem)

    .ingress-header
        @include mix.logical-size($block: auto)

    .blog-header
        @include mix.logical-size($block: 32rem)
        @include mix.margin($block: 2rem, $inline: 0.5rem)
        max-inline-size: 29rem
        @include mix.shadow(0 0 0.625rem rgba(color.$dark-grey, 0.2))

    .blog-header, .ingress-header
        p.article-metadata
            span
                @include mix.margin(auto)

        p
            @include mix.font($size: 1.1rem)
            @include mix.padding($block: 0.5rem, $inline: 1rem)

        @include mix.padding($inline: 0.5rem, $block: 0)
    .article-content, .blog-header, .ingress-header
        code
            z-index: -1
            @include mix.radius(0.25rem)
            color: color.$white
            position: relative
            @include mix.padding($block: 0.2rem, $inline: 0.4rem)
            background-color: color.$dark-grey
            @include mix.font($family: ('Courier New', Courier, monospace), $style: italic)

        pre
            @include mix.padding(1rem, 1rem)
            @include mix.radius(0.25rem)
            background-color: color.$dark-grey

    .article-content, .ingress-header
        @include mix.font($size: 1.5rem)
        max-inline-size: 44rem

    .article-content, .bio-content, .ingress-content
        h1,h2,h3,h4,h5,h6
            a
                cursor: text
                color: inherit
                text-decoration: none

            @include mix.margin($block: auto, $inline: 0)
            text-align: left
        
        abbr
            z-index: 1
            cursor: help            
            position: relative
            text-decoration: none !important
            border-block-end: 0.0625rem dotted rgb(255, 69, 0)!important

    @include mix.text-wrap-safe()

article.bio
    h2
        @include mix.font($size: 2.5rem)
    p
        text-align: justify
        max-inline-size: 50rem
        @include mix.logical-center()
        @include mix.margin($block: 0.5rem)

    ul
        li
            @include mix.margin($block: 0.5rem)
        @include mix.logical-center()
        max-inline-size: 47rem
    div
        @include mix.logical-center()
        @include mix.margin($block: 3rem)
        max-inline-size: 50rem

article.profile-bar

    section
        @include mix.margin($block: auto, $inline: 0.25rem)
        max-inline-size: 18rem


    section.profile-content
        p
            h2
                @include mix.margin(0, 0)
                @include mix.logical-size($inline: 8rem)
                text-align: left
                display: inline-block

        .slogan-wrapper
            @include mix.logical-size($inline: 17rem)
