@use '../mix/mixins' as mix
@use '../colors/colors' as color

button
    .timeline-btn
        block-size: 1em
        inline-size: 1em
        border-radius: 100%
        @include mix.background-style(color.$dark-grey, color.$soft-white)

section.tag-wrapper
    button.tag-btn
        margin: .5em
        font-size: 1.5em
        padding: 1em 1em

    max-inline-size: 100%
    margin: 0 auto

button
    border: none
    padding: 1em
    font-size: 1em
    cursor: pointer
    font-weight: bold
    text-align: center
    color: color.$dark-grey !important

button.reset-btn
        background-color: color.$soft-white
        color: color.$dark-grey