// Card styles, with clear separation of concerns
@use '../mix/mixins' as mix
@use 'lumina-sass/color' as color

.card-container
    @include mix.card-base()
    p
        @include mix.font($size: 1rem)
        text-align: justify
        
    h3, h4
        @include mix.font($font: "Nunito")

    .tech
        @include mix.list-inline-reset()

        ul
            li
                cursor: default
                @include mix.padding($inline: 1rem)
                @include mix.radius(.5rem)
                @include mix.border(0.0625rem solid black)
        
        
    max-inline-size: 24rem

    //@include mix.link-styles()
    
.timeline-card
    h3
        @include mix.margin($inline: 1rem)
        @include mix.font($font: "Roboto")

.business-card
    @include mix.card-base()
    &.grid-layout
        .card-header
            figure
                figcaption
                    display: none

                @include mix.margin(0)

            @include mix.margin(0)
            @include mix.padding(0)
            @include mix.logical-size($inline: 100%)
            min-block-size: 0
            grid-area: header

            .tech-img, .tech-figure
                @include mix.logical-size(2.2rem !important, 2.2rem !important)
                object-fit: contain !important
                @include mix.margin(0 !important)

            .date-container
                @include mix.margin($block: 0, $inline-start: auto)
                display: block
                text-align: right

        .card-content
            h3
                @include mix.margin(0)
                @include mix.padding($block: 0.5rem)
            p
                @include mix.margin($block: 0.25rem)

            @include mix.padding(0)
            grid-area: content
            
        .card-nav
            grid-area: nav
            @include mix.padding($block: 0.25rem)
            
        .card-footer
            h4
                @include mix.font($size: 0.9rem)
                @include mix.margin($block: 0 0.25rem)
            
            .tech-img, .tech-figure
                @include mix.margin(0 !important)
                @include mix.logical-size(2rem !important, 2rem !important)
                object-fit: contain !important

            figure
                figcaption
                    display: none

                @include mix.margin(0)

            grid-area: footer
            @include mix.padding(0)
            @include mix.margin(0)

        display: grid
        @include mix.padding(0.75rem)
        align-content: center
        grid-template-rows: 1fr 1fr 1fr 1fr
        grid-template-areas: "header" "content" "nav" "footer"
        

    p
        @include mix.font($size: 1rem)
        text-align: center
        @include mix.margin($block: 0.25rem, $inline: 0)

    img 
        @include mix.radius(0)

    section
        @include mix.margin($block: 0 0rem)

    .card-content
        .icon
            @include mix.padding(0)
            @include mix.font($size: 2rem)

        h3
            span.icon
                @include mix.padding(0)
                @include mix.font($size: 1rem)
            @include mix.logical-size($inline: 100%)

    .tech-container
        img
            @include mix.logical-size(1.5rem, 1.5rem)
            object-fit: contain

    @include mix.logical-size($inline: 23rem)
    max-block-size: 29rem
    @include mix.link-styles(color.$logo-red, color.$dark-orange, color.$light-orange, color.$logo-red)
    @include mix.list-inline-reset()
    
    .credits
        @include mix.font($size: 0.9rem)
        @include mix.margin($block: 0.5rem)
        
        .collab-name
            @include mix.margin($block: 0.1rem, $inline: 0.25rem)
            span
                a
                    @include mix.margin(0)
                    gap: 0.2rem

                    .icon
                        @include mix.margin(0)
                        @include mix.font($size: 1.1rem)


    @include mix.background-image(9rem, "/media/images/cards/portfolio-card.svg")
