@use 'sass:map' as map
@use '../utils/mixins' as mix
@use '../colors/colors' as color
@use '../mappings/tags' as tag-map
@use '../mappings/icons' as icon-map
@use '../mappings/tech-icons' as tech-map
@use '../mappings/flexbox' as flexbox-mapping

@mixin tag-generator()

    @each $category, $maps in tag-map.$tags
        @each $tag, $props in $maps
            $icon: null//map.get($props, icon)
            $color: map.get($props, color)
            $hover-color: map.get($props, hover)
            $background-color: map.get($props, background)

            .#{$tag}
                text-align: center
                padding: .2em .5em
                border-radius: .5em
                @include mix.background-style($bg-color: $background-color, $color:$color)

            @if $icon
                .#{$tag}
                    &:before
                        content: $icon

@mixin icon-generator()
    @each $category, $maps in icon-map.$icons
        @each $icon, $props in $maps
            .#{$icon}
                &:before
                    content: map.get($props, icon)

                color: map.get($props, icon-color)

@mixin flexbox-generator($name)

    $props: map.get(flexbox-mapping.$flexbox, $name)

    @if $props
        @each $property, $value in $props
            #{$property}: $value
    @else
        @error '"#{$name}" not found in flexbox mapping.'

@mixin tech-generator($boolean : false, $element: null)

    @each $category, $maps in tech-map.$tech-languages
        @each $tech, $props in $maps

            $icon: map.get($props, icon)
            $color-map: map.get($props, color)
            $hover-color: map.get($props, hover)
            

            @if $boolean == true
                .#{$tech}
                    &:before
                        content: $icon
                    color: $color-map

            @else if $boolean == false and $element == 'progress'
                progress.#{$tech}

                    &::-webkit-progress-value
                        @include mix.background-style($bg-color: $color-map, $color:$color-map)

            @else
                .#{$tech}
                    @include mix.background-style($bg-color: $color-map, $color:$color-map)
                    //background-color: $color-map
                @warn 'Default class generated for .#{$tech} with color only. To include icon, set $boolean to true. To target progress element, set $element to "progress".'

@include tag-generator()
@include icon-generator()


.tech-container
    p
        @include tech-generator()