//  Bootstrap icons
@use '../mix/mixins' as mix

.repo-container
    .icon
        font-size: 1.5rem

.icon
    font-size: 1.5rem
    display: inline-flex
    align-items: center
    justify-content: center
    padding-inline: 0
    font-family: "Bootstrap-icons"
