.profile
    p
        h2
            margin: 0
            inline-size: 9em
            text-align: left
            display: inline-block
        inline-size: 100%
    section
        margin: 0


    .profile-bar
        max-inline-size: 24em
    
        .profile-avatar
            img, source
                inline-size: 10em
                border-radius: 100%
                margin-inline: 6em

        figure
            figcaption
                inline-size: 23em
                text-align: center
            text-align: center
    .slogan-wrapper
        inline-size: 21em
    margin-block-end: 2em