@use '../mix/mixins' as mix
@use '../mix/button-mixins' as btn
@use 'lumina-sass/color' as color

nav.router-nav
    @include mix.nav-list-reset()
    ul
        li
            a
                &:hover
                    transform: translateY(-0.125rem)
                    color: color.$logo-red !important

                &:active
                    opacity: 1
                    transform: translateY(0.0625rem)

                @include mix.font($size: 0.9rem)
                @include btn.button-neumorphism()
                @include mix.margin($block: 0.1rem, $inline: 0.25rem)

            @include mix.link-color(color.$text-base-dark-grey, color.$logo-red, color.$neutral-soft-white, color.$text-base-dark-grey)

nav.logo-nav
    ul
        li
            a
                display: block
                text-decoration: none
                @include mix.margin(0)
                @include mix.radius(0)
                @include mix.padding(0)
                @include mix.border(none)
                @include mix.shadow(none)
                background-color: transparent
                @include mix.logical-size($inline: auto, $block: auto)

                &:hover
                    transform: none
                    @include mix.shadow(none)
                    background-color: transparent

        list-style: none
        @include mix.margin(0)
        @include mix.padding(0)

nav.anchor-nav, nav.portofolio-nav
    @include mix.nav-list-reset()
    ul
        li
            a
                @include mix.padding(0)
                @include mix.radius(50%)
                @include mix.font($size: 1rem)
                text-decoration: none !important
                @include btn.button-neumorphism()
                @include mix.logical-size(2.2rem, 2.2rem)
                @include mix.margin($block: 0, $inline: 0.15rem)

                .icon
                    @include mix.margin(0)
                    @include mix.font($size: 1.5rem)

                    span, .bi, [type="icon"]
                        display: inline-block
                        @include mix.font($size: 1rem)

                > span:not(.icon)
                    display: none

nav.some-nav
    @include mix.nav-list-reset()
    ul
        li
            a
                @include mix.padding(0)
                @include mix.radius(50%)
                text-decoration: none !important
                @include btn.button-neumorphism()
                @include mix.logical-size(2rem, 2rem)
                @include mix.margin($block: 0, $inline: 0.25rem)

        @include mix.logical-center()
