@use '../mix/mixins' as mix
@use '../colors/colors' as color

nav.router-nav, nav.logo-nav
    ul
        li
            a
                &:hover
                    @include mix.background-style(color.$light-orange, color.$soft-white)

                &:active
                    @include mix.background-style(color.$dark-orange, color.$soft-white)

                margin: 0
                padding: 0.5em 1em
                border-radius: .5em
            @include mix.link-styles(color.$dark-grey, color.$dark-grey, color.$soft-white, color.$dark-grey)

        padding:0
        margin: auto
        list-style: none
        inline-size: 100%
        border-radius: .5em

nav.anchor-nav, nav.some-nav, nav.portofolio-nav
    ul
        padding:0
        margin: auto
        list-style: none
        inline-size: 100%
        border-radius: .5em

nav.some-nav
    ul
        li
            max-inline-size: 2em