@use './mixins' as mix


.tech-container
    p
        span
            span
                @include mix.circle-border()
            margin-inline: .3em

        margin:.5em

    .tech-figure
        margin: 0
        max-inline-size: 3em

        .tech-img
            inline-size: 100%
            block-size: auto