@use '../mix/mixins' as mix
@use '../colors/colors' as color

.timeline-container
    .timeline-item
        input[type="range"]
            &::-webkit-slider-runnable-track,
            &::-moz-range-track
                cursor: pointer
                block-size: 1rem
                border-radius: 1rem
                -webkit-appearance: none
                background: color.$sea-green

            &::-webkit-slider-thumb,
            &::-moz-range-thumb
                cursor: pointer
                block-size: 1rem
                border-radius: 1rem
                -webkit-appearance: none
                background: color.$sea-green

            inline-size: 100%

        z-index: 1
        inline-size: 100%
        @include mix.input-styles(color.$sea-green)

        input[type="range"]
            inline-size: 100%

            &::-webkit-slider-runnable-track,
            &::-moz-range-track
                cursor: pointer
                block-size: 1rem
                border-radius: 1rem
                -webkit-appearance: none
                background: color.$sea-green

            &::-webkit-slider-thumb,
            &::-moz-range-thumb
                cursor: pointer
                block-size: 1rem
                border-radius: 1rem
                -webkit-appearance: none
                background: color.$sea-green

    .timeline-active
        opacity: 1 !important
        visibility: visible !important

        .tech-container
            > section
                gap: 1rem
                display: grid !important
                grid-template-columns: repeat(6, auto)
                
                justify-content: center
                align-items: center
            
            img
                object-fit: contain

            p
                span
                    span
                        @include mix.circle-border()
                    margin-inline: .3rem

                margin:.5rem

    .timeline-content

        h2, h3, h4
            text-align: center
        
        p
            text-align: left

        &:nth-of-type(odd)
            margin-block-end: 1rem

        section
            margin: .5rem

        .section
            
            margin-inline: 1rem
            max-inline-size: 20rem
            
            &:nth-of-type(odd)
                border-right: 0.0938rem groove rgba(0, 0, 0, .2)
                
            
        .timeline-description
            .timeline-list
                .timeline-item
                    margin-block: .5rem
                    font-size: 1.1rem

        margin: 1rem
        padding: 1rem
        border-radius: .5rem
        max-inline-size: 100%
        box-shadow: 0 0.125rem 0.25rem rgba(64, 64, 64, .5)
        @include mix.transitions(opacity, 3s, ease-out, 10s, allow-discrete)

    padding: 1rem
    margin-block: 2.5rem
    border-radius: .5rem