@use '../mix/mixins' as mix
@use '../colors/colors' as color

.timeline-container
    form
        div
            input[type="range"]
                &::-webkit-slider-runnable-track, &::-moz-range-track, &::-webkit-slider-thumb, &::-moz-range-thumb
                    cursor: pointer
                    block-size: .9em
                    border-radius: 1em
                    -webkit-appearance: none
                    background: color.$sea-green

            inline-size: 100%
            @include mix.input-styles(color.$sea-green)

    .timeline-active
        opacity: 1 !important
        visibility: visible !important

        .tech-container
            p
                span
                    span
                        @include mix.circle-border()
                    margin-inline: .3em

                margin:.5em

    .timeline-content

        h2, h3, h4
            text-align: center
        
        p
            text-align: left

        &:nth-of-type(odd)
            margin-block-end: 1em

        section
            margin: .5em

        .section
            
            margin-inline: 1em
            max-inline-size: 20em
            
            &:nth-of-type(odd)
                border-right: 1.5px groove rgba(0, 0, 0, .2)
                
            
        .timeline-description
            .timeline-list
                .timeline-item
                    margin-block: .5em
                    font-size: 1.1em

        margin: 1em
        padding: 1em
        border-radius: .5em
        max-inline-size: 100%
        box-shadow: 0 2px 4px rgba(64, 64, 64, .5)
        @include mix.transitions(opacity, 3s, ease-out, 10s, allow-discrete)

    padding: 1em
    margin-block: 2.5em
    border-radius: .5em