
nav.logo-nav
    ul
        li
            a
                figure
                    max-inline-size: none

                    img
                        inline-size: 7rem
                        object-fit: contain

article.profile-bar
    figure
        picture
            img, source
                border-radius: 100%
        max-inline-size: 8rem

.business-card
    figure
        
        picture, img
            border-radius: 0
            inline-size: 100%
            object-fit: contain
            

        picture
            img, source
                border-radius: 0
                inline-size: 100%
                object-fit: contain

        inline-size: 3rem

    .card-content
        figure
            inline-size: 2rem

    &.grid-layout
        .tech-img, .tech-figure
            margin: 0 !important
            block-size: 2.2rem !important
            object-fit: contain !important
            inline-size: 2.2rem !important

        .card-header
            figure
                figcaption
                    display: none

.timeline-active
    figure
        margin: 0
        max-inline-size: 2rem
        img, source
            inline-size: 100%
            block-size: auto
            object-fit: contain

figure
    figcaption
        font-size: 0.7rem
        text-align: center
        margin-top: 0.5rem
        font-style: italic

    picture
        img, source
            block-size: auto
            border-radius: 100%

    img, picture
        block-size: auto
        inline-size: 100%
        border-radius: .5rem

    margin: 0
    padding: 0
    max-inline-size: 28rem
