
@use '../mix/mixins' as mix

nav.logo-nav
    ul
        li
            a
                figure
                    max-inline-size: none

                    img
                        @include mix.logical-size($inline: 7rem)
                        object-fit: contain

article.profile-bar
    figure
        picture
            img, source
                @include mix.radius(100%)
        max-inline-size: 8rem

.business-card
    figure
        
        picture, img
            @include mix.radius(0)
            @include mix.logical-size($inline: 100%)
            object-fit: contain
            

        picture
            img, source
                @include mix.radius(0)
                @include mix.logical-size($inline: 100%)
                object-fit: contain

        @include mix.logical-size($inline: 3rem)

    .card-content
        figure
            @include mix.logical-size($inline: 2rem)

    &.grid-layout
        .tech-img, .tech-figure
            @include mix.margin(0 !important)
            @include mix.logical-size($inline: 2.2rem !important, $block: 2.2rem !important)
            object-fit: contain !important

        .card-header
            figure
                figcaption
                    display: none

.timeline-active
    figure
        @include mix.margin(0)
        max-inline-size: 2rem
        img, source
            @include mix.logical-size($inline: 100%, $block: auto)
            object-fit: contain

figure
    figcaption
        @include mix.font($size: 0.7rem, $style: italic)
        text-align: center
        @include mix.margin($block-start: 0.5rem)

    picture
        img, source
            @include mix.logical-size($block: auto)
            @include mix.radius(100%)

    img, picture
        @include mix.logical-size($inline: 100%, $block: auto)
        @include mix.radius(.5rem)

    @include mix.margin(0)
    @include mix.padding(0)
    max-inline-size: 28rem
