
article.profile-bar
    figure
        figcaption
            font-size: 0.7rem
            text-align: center

        picture
            img, source
                border-radius: 100%
        max-inline-size: 8rem

.business-card
    figure
        figcaption
            font-size: 0.7rem
            text-align: center

        picture, img
            inline-size: 100%
            object-fit: contain
            border-radius: 0

        picture
            img, source
                inline-size: 100%
                object-fit: contain
                border-radius: 0
 
        margin: 0
        inline-size: 3rem
    .card-content
        figure
            inline-size: 2rem

.timeline-active

    figure
        margin: 0
        max-inline-size: 2rem
        img, source
            inline-size: 100%
            block-size: auto
            object-fit: contain
