
article.profile-bar
    figure
        figcaption
            font-size: 0.7em
            text-align: center

        picture
            img, source
                border-radius: 100%
        max-inline-size: 11em

.business-card
    figure
        figcaption
            font-size: 0.7em
            text-align: center

        picture
            img, source
                inline-size: 100%
 
        margin: 0
        inline-size: 3em

.timeline-active

    figure
        margin: 0
        max-inline-size: 2em
        img, source
            inline-size: 100%
            block-size: auto
