// Third-party dependencies
@use 'pkg:lumina-sass/mix' as l-mix

// Internal dependencies
@use '../mixins' as mix

section
    .dev-bar
        .dev-skill
            h3, p
                text-align: center
                @include l-mix.margin($block: 0)

            progress
                overflow: hidden
                appearance: none
                border-radius: 1rem
                -moz-appearance: none
                -webkit-appearance: none

            
            @include l-mix.size($inline: 100%)
            @include l-mix.margin($block: 1rem)
            @include mix.tech-generator($boolean: false, $element: 'progress')

        @include l-mix.size($max-inline: 24rem)

    @include l-mix.margin($block: 2rem)
