// Internal dependencies
@use '../utilities/utilities' as mix
@use '../utilities/generators' as gen

section
    .dev-bar
        .dev-skill
            h3
                text-align: center
                @include mix.margin($block: 0)

            p
                text-align: center
                @include mix.margin($block: 0rem)

            progress
                overflow: hidden
                appearance: none
                -moz-appearance: none
                -webkit-appearance: none
                @include mix.radius(1rem)

            @include mix.margin($block: 1rem)
            @include mix.logical-size($inline: 100%)
            @include gen.tech-generator($boolean: false, $element:'progress')

        max-inline-size: 24rem

    @include mix.margin($block: 2rem)
