.eq-info
    details
        summary
            cursor: pointer
            font-weight: bold
        ul
            li
                span
                    &:nth-of-type(1)
                        font-weight: bold
        margin: auto
        font-size: 2rem
        display: inline-block