// Third-party dependencies
@use 'pkg:lumina-sass/mix' as l-mix

.eq-info
    details
        summary
            cursor: pointer
            font-weight: bold
        ul
            li
                span
                    &:nth-of-type(1)
                        font-weight: bold

        font-size: 2rem
        display: inline-block
        @include l-mix.margin(auto)