$linux: rgb(233, 84, 32)
$windows: rgb(0, 120, 212)
$macos: rgb(245, 245, 247)

$misc-purple: rgb(155, 89, 182)
$rd-lime-green: rgb(160, 255, 0)
$fullstack-vibrant-orange: rgb(255, 140, 0)

$human-emerald-glow: rgb(0, 255, 159)

$tag-theme-colors: ( 'linux': $linux, 'windows': $windows, 'macos': $macos, 'misc': $misc-purple, 'rd': $rd-lime-green, 'devops': $rd-lime-green, 'fullstack': $fullstack-vibrant-orange, 'project': $human-emerald-glow, 'os': $windows, 'support': $windows, 'mentalt-vedlikehold': $misc-purple )

@each $name, $color in $tag-theme-colors
    .#{$name}
        --article-theme-color: #{$color}
