$windows: rgb(0, 120, 212)
$linux: rgb(233, 84, 32)
$macos: rgb(245, 245, 247)

$misc-purple: rgb(155, 89, 182)
$rd-lime-green: rgb(160, 255, 0)
$fullstack-vibrant-orange: rgb(255, 140, 0)

$human-emerald-glow: rgb(0, 255, 159)

