// Third-party dependencies
@use 'lumina-sass/mix' as mix
@use 'lumina-sass/color' as color

// Internal dependencies
@use '../utilities/utilities' as utils
@use '../utilities/button-helpers' as btn

$article-theme-color: color.$sea-green !default

article
    header
        .article-metadata
            span.meta-date
                @include utils.margin($inline: 0 1rem)
            a
                display: inline-block
                text-decoration: none
                @include utils.margin(0.2rem, 0.2rem)
                @include mix.font($size: 0.85rem)

        @include utils.logical-center()
        @include utils.margin($block: 0)
    nav
        @include utils.list-inline-reset()
        ul
            li
                a
                    text-decoration: none
                    color: color.$text-base-dark-grey

    section, .article-wrapper, .pagination-container, .blog-section
        max-inline-size: 100%

    section, .article-wrapper, .article-content
        @include utils.logical-center()

    section, .article-wrapper
        @include utils.margin($block: 0)

    .pagination-container, .blog-section
        @include utils.margin($block: 2rem, $inline: 0)

    .article-content
        @include utils.margin($block: 2rem)

        div
            h4
                @include utils.margin($block: 1rem)

    .ingress-header
        @include utils.logical-size($block: auto)

    .blog-header
        max-inline-size: 29rem
        @include utils.logical-size($block: 32rem)
        @include utils.margin($block: 2rem, $inline: 0.5rem)
        @include utils.shadow(0 0 0.625rem rgba(color.$text-base-dark-grey, 0.2))

    .blog-header, .ingress-header
        p.article-metadata
            gap: 0.5rem
            span
                @include utils.margin(0)
            
            span.meta-date
                @include utils.margin($inline: 0 0.7rem)
                
    .blog-header, .ingress-header
        p.article-metadata
            .tag-btn
                @include mix.font($size: 0.825rem)

        p
            @include mix.font($size: 1.1rem)
            @include utils.padding($block: 0.5rem, $inline: 1rem)

        @include utils.padding($inline: 0.5rem, $block: 0)

    .article-content, .blog-header, .ingress-header
        code
            z-index: -1
            position: relative
            color: color.$neutral-white
            @include utils.radius(0.25rem)
            background-color: color.$text-base-dark-grey
            @include utils.padding($block: 0.2rem, $inline: 0.4rem)
            @include mix.font($family: ('Courier New', Courier, monospace), $style: italic)

        pre
            @include utils.radius(0.25rem)
            @include utils.padding(1rem, 1rem)
            background-color: color.$text-base-dark-grey
            border-inline-start: 0.1875rem solid $article-theme-color

        blockquote
            padding-inline-start: 1rem
            @include utils.margin($block: 1.5rem, $inline: 0)
            border-inline-start: 0.1875rem solid $article-theme-color
            
        strong, b, q
            color: $article-theme-color

    .article-content, .ingress-header
        max-inline-size: 44rem
        @include mix.font($size: 1.5rem)

        ul, ol
            li::marker
                color: $article-theme-color

    .article-content, .bio-content, .ingress-content
        h1,h2,h3,h4,h5,h6
            a
                cursor: text
                color: inherit
                text-decoration: none

            @include utils.margin($block: auto, $inline: 0)
            text-align: left
        
        abbr
            z-index: 1
            cursor: help            
            position: relative
            text-decoration: none !important
            border-block-end: 0.0625rem dotted $article-theme-color !important

    @include mix.text-wrap-safe()

article.bio
    h2
        @include mix.font($size: 2.5rem)
    p
        text-align: justify
        max-inline-size: 50rem
        @include utils.logical-center()
        @include utils.margin($block: 0.5rem)

    ul
        li
            @include utils.margin($block: 0.5rem)

        max-inline-size: 47rem
        @include utils.logical-center()

    div
        max-inline-size: 50rem
        @include utils.logical-center()
        @include utils.margin($block: 3rem)

article.profile-bar

    section
        max-inline-size: 18rem
        @include utils.margin($block: auto, $inline: 0.25rem)

    section.profile-content
        p
            h2
                text-align: left
                display: inline-block
                @include utils.margin(0, 0)
                @include utils.logical-size($inline: 8rem)

        .slogan-wrapper
            @include utils.logical-size($inline: 17rem)
