// Third-party dependencies
@use 'pkg:lumina-sass/mix' as l-mix
@use 'pkg:lumina-sass/color' as l-color

// Internal dependencies
@use '../mixins' as mix


$article-theme-color: l-color.$sea-green !default

article
    header
        .article-metadata
            span.meta-date
                @include l-mix.margin($inline: 0 1rem)

            a
                @include l-mix.margin(0.2rem)
                display: inline-block
                text-decoration: none
                @include l-mix.font($size: 0.85rem)

        @include l-mix.margin($block: 0, $inline: auto)

    nav
        ul
            li
                a
                    text-decoration: none
                    color: l-color.$text-base-dark-grey

        @include mix.list-inline-reset()

    section, .article-wrapper, .pagination-container, .blog-section
        @include l-mix.size($max-inline: 100%)

    section, .article-wrapper, .article-content
        @include l-mix.margin($inline: auto)

    section, .article-wrapper
        @include l-mix.margin($block: 0)

    .pagination-container, .blog-section
        @include l-mix.margin($inline: 0, $block: 2rem)

    .article-content
        div
            h4
                @include l-mix.margin($block: 1rem)

        @include l-mix.margin($block: 2rem)

    .ingress-header
        @include l-mix.size($block: auto)

    .blog-header
        box-shadow: 0 0 0.625rem rgba(l-color.$text-base-dark-grey, 0.2)

        @include l-mix.margin($block: 2rem, $inline: 0.5rem)
        @include l-mix.size($max-inline: 29rem, $block: 32rem)

    .blog-header, .ingress-header
        p.article-metadata
            span
                @include l-mix.margin(0)
            
            span.meta-date
                @include l-mix.margin($inline: 0 0.7rem)

            gap: 0.5rem

    .blog-header, .ingress-header
        p.article-metadata
            .tag-btn
                @include l-mix.font($size: 0.825rem)

        p
            padding-inline: 1rem
            padding-block: 0.5rem
            @include l-mix.font($size: 1.1rem)

        padding-block: 0
        padding-inline: 0.5rem

    .article-content, .blog-header, .ingress-header
        code
            padding-block: 0.2rem
            border-radius: 0.25rem
            padding-inline: 0.4rem
            @include l-mix.relative($z-index: -1)
            @include l-mix.font($family: ('Courier New', Courier, monospace), $style: italic)
            @include l-mix.background-color(l-color.$text-base-dark-grey,l-color.$neutral-white)

        pre
            padding: 1rem
            border-radius: 0.25rem
            background-color: l-color.$text-base-dark-grey
            border-inline-start: 0.1875rem solid $article-theme-color

        blockquote
            padding-inline-start: 1rem
            border-inline-start: 0.1875rem solid $article-theme-color

            @include l-mix.margin($inline: 0, $block: 1.5rem)

        strong, b, q
            color: $article-theme-color

    .article-content, .ingress-header
        @include l-mix.font($size: 1.5rem)
        @include l-mix.size($max-inline: 44rem)

        ul, ol
            li::marker
                color: $article-theme-color

    .article-content, .bio-content, .ingress-content
        h1,h2,h3,h4,h5,h6
            a
                cursor: text
                color: inherit
                text-decoration: none

            text-align: left
            @include l-mix.margin($inline: 0, $block: auto)

        abbr
            cursor: help            
            text-decoration: none !important
            border-block-end: 0.0625rem dotted $article-theme-color !important

            @include l-mix.relative($z-index: 1)

    @include l-mix.text-wrap-safe()

article.bio
    h2
        @include l-mix.font($size: 2.5rem)

    p
        text-align: justify
        @include l-mix.size($max-inline: 50rem)
        @include l-mix.margin($inline: auto, $block: 0.5rem)


    ul
        li
            @include l-mix.margin($block: 0.5rem)

        @include l-mix.margin($inline: auto)
        @include l-mix.size($max-inline: 47rem)

    div
        @include l-mix.size($max-inline: 50rem)
        @include l-mix.margin($block: 3rem, $inline: auto)

article.profile-bar

    section
        @include l-mix.size($max-inline: 18rem)
        @include l-mix.margin($block: auto, $inline: 0.25rem)

    section.profile-content
        p
            h2
                text-align: left
                display: inline-block
                @include l-mix.margin(0)
                @include l-mix.size($inline: 8rem)

        .slogan-wrapper
            @include l-mix.size($inline: 17rem)
