// Third-party dependencies
@use 'pkg:lumina-sass' as l-lumina
@use 'pkg:lumina-sass/mix' as l-mix
@use 'pkg:lumina-sass/color' as l-color

// Internal dependencies
@use '../mixins' as mix

// Card styles, with clear separation of concerns

.card-container
    @include l-mix.card($shape: square)
    p
        text-align: justify
        @include l-mix.font($size: 1rem)

    h3, h4
        @include l-mix.font($font: "Nunito")

    .tech
        @include mix.list-inline-reset()

        ul
            li
                cursor: default
                padding-inline: 1rem
                border-radius: 0.5rem
                border: 0.0625rem solid black

    @include l-mix.size($max-inline: 24rem)

.timeline-card
    h3
        @include l-mix.margin($inline: 1rem)
        @include l-mix.font($font: "Roboto")

.business-card
    @include l-mix.card($shape: square)

    &.grid-layout
        .card-header
            padding: 0
            grid-area: header
            @include l-mix.margin(0)
            @include l-mix.size($min-block: 0, $inline: 100%)

            .date-container
                display: block
                text-align: right
                @include l-mix.margin(0)

        .card-content
            h3
                padding-block: 0.5rem
                @include l-mix.margin(0)

            p
                @include l-mix.margin($block: 0.25rem)

            padding: 0
            grid-area: content
            @include l-mix.size($min-block: 0, $max-block: 100%)

        .card-nav
            padding-block: 0.25rem

        .card-footer
            h4
                @include l-mix.font($size: 0.9rem)
                @include l-mix.margin($block: 0 0.25rem)

            padding: 0
            grid-area: footer
            @include l-mix.margin(0)

        display: grid
        padding: 0.75rem
        @extend .content-center
        grid-template-rows: 2rem 9rem 1fr
        grid-template-areas: "header" "content" "footer"

    p
        text-align: center
        @include l-mix.font($size: 1rem)
        @include l-mix.margin($block: 0.25rem, $inline: 0)

    section
        @include l-mix.margin($block: 0)

    header, main, footer
        @include l-mix.size($inline: 100%)

    .card-content
        h3
            span.icon
                padding: 0
                font-size: 1rem

            @include l-mix.size($inline: 100%)
            
        .icon
            padding: 0
            font-size: 2rem

        .description
            @include l-mix.size($inline: 18rem)

    @include mix.list-inline-reset()
    @include l-mix.size($inline: 100%, $max-block: 29rem, $max-inline: 23rem)
    @include l-mix.link-color(l-color.$logo-red, l-color.$dark-orange, l-color.$light-orange, l-color.$logo-red)
    
    .credits
        .collab-name
            p
                a
                    gap: 0.2rem
                    @include l-mix.margin(0)

                    .icon
                        @include l-mix.margin(0)
                        @include l-mix.font($size: 1.1rem)

            display: inline-block
            @include l-mix.size($inline: 100%)
            @include l-mix.margin($inline: auto, $block: 0.1rem)

        @include l-mix.font($size: 0.9rem)
        @include l-mix.margin($block: 0.5rem)
