// Third-party dependencies
@use 'lumina-sass/color' as color

// Internal dependencies
@use '../utilities/utilities' as mix

// Card styles, with clear separation of concerns

.card-container
    @include mix.card-base()
    p
        text-align: justify
        @include mix.font($size: 1rem)

    h3, h4
        @include mix.font($font: "Nunito")

    .tech
        @include mix.list-inline-reset()

        ul
            li
                cursor: default
                @include mix.radius(.5rem)
                @include mix.padding($inline: 1rem)
                @include mix.border(0.0625rem solid black)

    max-inline-size: 24rem

.timeline-card
    h3
        @include mix.margin($inline: 1rem)
        @include mix.font($font: "Roboto")

.business-card
    @include mix.card-base()
    @include mix.background-image("/media/images/cards/portfolio-card.svg", $size: 9rem, $position: top left, $origin: border-box)

    &.grid-layout
        .card-header
            figure
                figcaption
                    display: none

                @include mix.margin(0)

            min-block-size: 0
            grid-area: header
            @include mix.margin(0)
            @include mix.padding(0)
            @include mix.logical-size($inline: 100%)

            .tech-img, .tech-figure
                object-fit: contain !important
                @include mix.margin(0 !important)
                @include mix.logical-size(2.2rem !important, 2.2rem !important)

            .date-container
                display: block
                text-align: right
                @include mix.margin($block: 0, $inline-start: auto)

        .card-content
            h3
                @include mix.margin(0)
                @include mix.padding($block: 0.5rem)
            p
                @include mix.margin($block: 0.25rem)

            grid-area: content
            @include mix.padding(0)
            
            
        .card-nav
            grid-area: nav
            @include mix.padding($block: 0.25rem)
            
        .card-footer
            h4
                @include mix.font($size: 0.9rem)
                @include mix.margin($block: 0 0.25rem)
            
            .tech-img, .tech-figure
                object-fit: contain !important
                @include mix.margin(0 !important)
                @include mix.logical-size(2rem !important, 2rem !important)
                

            figure
                figcaption
                    display: none

                @include mix.margin(0)

            grid-area: footer
            @include mix.margin(0)
            @include mix.padding(0)

        display: grid
        align-content: center
        @include mix.padding(0.75rem)
        grid-template-rows: 1fr 1fr 1fr 1fr
        grid-template-areas: "header" "content" "nav" "footer"

    p
        text-align: center
        @include mix.font($size: 1rem)
        @include mix.margin($block: 0.25rem, $inline: 0)

    img 
        @include mix.radius(0)

    section
        @include mix.margin($block: 0 0rem)

    .card-content
        .icon
            font-size: 2rem
            @include mix.padding(0)

        h3
            span.icon
                font-size: 1rem
                @include mix.padding(0)

            @include mix.logical-size($inline: 100%)

    .tech-container
        img
            object-fit: contain
            @include mix.logical-size(1.5rem, 1.5rem)

    max-block-size: 29rem
    @include mix.list-inline-reset()
    inline-size: 100%
    max-inline-size: 23rem
    @include mix.link-color(color.$logo-red, color.$dark-orange, color.$light-orange, color.$logo-red)
    
    .credits
        @include mix.font($size: 0.9rem)
        @include mix.margin($block: 0.5rem)
        
        .collab-name
            span
                a
                    gap: 0.2rem
                    @include mix.margin(0)

                    .icon
                        @include mix.margin(0)
                        @include mix.font($size: 1.1rem)

            @include mix.margin($block: 0.1rem, $inline: 0.25rem)
