// Internal dependencies
@use '../utilities/utilities' as mix

.inline-flex-center
    display: inline-flex
    align-items: center

.icon
    display: inline-flex
    align-items: center
    gap: 0.5rem
