// Internal dependencies
@use '../utilities/utilities' as mix

.inline-items-justify-center
    align-items: center
    justify-content: center
    @include mix.gen-flexbox('inline-flex')

.icon
    @include mix.font($line-height: 1)
    gap: 0.5rem

    &::before, &::after, *::before, *::after
        @include mix.font($size: inherit !important)
