// Third-party dependencies
@use 'lumina-sass/mix' as l-mix
@use 'lumina-sass/color' as l-color

// Internal dependencies
@use '../utilities/utilities' as utils
@use '../utilities/button-helpers' as btn

nav.router-nav
    @include utils.nav-list-reset()
    ul
        li
            a
                &:hover
                    transform: translateY(-0.125rem)
                    color: l-color.$logo-red !important

                &:active
                    opacity: 1
                    transform: translateY(0.0625rem)

                @include l-mix.font($size: 0.9rem)
                @include btn.button-neumorphism()
                @include utils.margin($block: 0.1rem, $inline: 0.25rem)

            @include l-mix.link-color(l-color.$text-base-dark-grey, l-color.$logo-red, l-color.$neutral-soft-white, l-color.$text-base-dark-grey)

nav.logo-nav
    ul
        li
            a
                display: block
                text-decoration: none
                @include utils.margin(0)
                @include utils.radius(0)
                @include utils.padding(0)
                @include utils.border(none)
                @include utils.shadow(none)
                background-color: transparent
                @include utils.logical-size($inline: auto, $block: auto)

                &:hover
                    transform: none
                    @include utils.shadow(none)
                    background-color: transparent

        list-style: none
        @include utils.margin(0)
        @include utils.padding(0)

nav.anchor-nav, nav.portofolio-nav
    @include utils.nav-list-reset()
    ul
        li
            a
                @include utils.padding(0)
                @include utils.radius(50%)
                @include l-mix.font($size: 1rem)
                text-decoration: none !important
                @include btn.button-neumorphism()
                @include utils.logical-size(2.2rem, 2.2rem)
                @include utils.margin($block: 0, $inline: 0.15rem)

                .icon
                    @include utils.margin(0)
                    @include l-mix.font($size: 1.8rem)

                    span, .bi, [type="icon"]
                        font-size: inherit
                        display: inline-block

                > span:not(.icon)
                    display: none

nav.some-nav
    @include utils.nav-list-reset()
    ul
        li
            a
                @include utils.padding(0)
                @include utils.radius(50%)
                text-decoration: none !important
                @include btn.button-neumorphism()
                @include utils.logical-size(3.2rem, 3.2rem)
                @include utils.margin($block: 0, $inline: 0.25rem)

                .icon
                    @include l-mix.font($size: 2rem)

        @include utils.logical-center()
