// Third-party dependencies
@use 'pkg:lumina-sass/mix' as l-mix

@mixin list-inline-reset()
    ul 
        li
            display: inline
            @include l-mix.margin(0.5rem)

        padding: 0

@mixin nav-list-reset()
    ul
        padding: 0
        list-style: none
        border-radius: 0.5rem
        @include l-mix.size($inline: 100%)
