@use 'sass:map' as map
@use 'sass:list' as list
@use 'lumina-sass' as Devices
@use 'lumina-sass/color' as color

@forward 'lumina-sass/mix'

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")


@mixin card-shadow-box()
    margin: 1rem
    padding: 1rem
    box-shadow: 0.25rem 0.25rem 1.25rem 0.25rem rgba(0, 0, 0, 0.1)

@mixin card-base($radius: .5rem, $border: 0.0625rem solid black)
    border-radius: $radius
    border: $border
    @include card-shadow-box()

@mixin list-inline-reset()
    ul 
        li
            margin: .5rem
            display: inline

        padding: 0

@mixin nav-list-reset()
    ul
        padding: 0
        list-style: none
        inline-size: 100%
        border-radius: .5rem

@mixin background-style($bg-color, $color)
    color: $color
    background-color: $bg-color

@mixin background-image($size, $path, $bg-size: null)

    @if $bg-size == null
        $bg-size: no-repeat

    background-size: $size
    background-repeat: $bg-size
    background-image: url($path)

@mixin transitions($property: null, $duration: null, $timing-function: null, $delay: null, $behavior: null)

    @if $property == null
        $property: all
    
    @if $timing-function == null
        $timing-function: ease-in-out

    @if $duration == null
        $duration: 0.3s

    @if $delay == null
        $delay: 0s

    @if $behavior == null
        $behavior: normal

    transition: $property $duration $timing-function $delay $behavior

@mixin input-styles($background-color)
    input[type="range"]
        &::-webkit-slider-runnable-track,
        &::-moz-range-track
            cursor: pointer
            block-size: .9rem
            border-radius: 1rem
            -webkit-appearance: none
            background: $background-color

        &::-webkit-slider-thumb,
        &::-moz-range-thumb
            cursor: pointer
            block-size: .9rem
            border-radius: 1rem
            -webkit-appearance: none
            background: $background-color

        inline-size: 100%

@mixin circle-border()
    block-size: 1rem
    inline-size: 1rem
    border-radius: 50%
    display: inline-block
    margin-inline-end: .5rem

@mixin absolute-inset($inset: 0)
    position: absolute
    inset: $inset

@mixin logical-center()
    margin-inline: auto

@mixin logical-size($inline: null, $block: null)
    @if $inline != null
        inline-size: $inline
    @if $block != null
        block-size: $block

@mixin margin($block: null, $inline: null, $block-start: null, $block-end: null, $inline-start: null, $inline-end: null)
    @if $block != null
        margin-block: $block
    @if $inline != null
        margin-inline: $inline
    @if $block-start != null
        margin-block-start: $block-start
    @if $block-end != null
        margin-block-end: $block-end
    @if $inline-start != null
        margin-inline-start: $inline-start
    @if $inline-end != null
        margin-inline-end: $inline-end

@mixin padding($block: null, $inline: null, $block-start: null, $block-end: null, $inline-start: null, $inline-end: null)
    @if $block != null
        padding-block: $block
    @if $inline != null
        padding-inline: $inline
    @if $block-start != null
        padding-block-start: $block-start
    @if $block-end != null
        padding-block-end: $block-end
    @if $inline-start != null
        padding-inline-start: $inline-start
    @if $inline-end != null
        padding-inline-end: $inline-end

@mixin radius($radius)
    border-radius: $radius

@mixin border($style)
    border: $style

@mixin shadow($value)
    box-shadow: $value


