@use 'sass-true' as *
@use 'lumina-sass/color' as color
@use 'lumina-sass/mix' as lumina-mix
@use '../../sass/utilities/utilities' as mixins

@include test-module('Alerts')
  @include test('alert-info should have correct contrast and icon')
    @include assert
      @include output
        .alert-info
          @include lumina-mix.alert(color.$info, $icon: 'info', $inline-size: 35rem)
      @include expect
        .alert-info
          gap: 1.5rem
          margin: auto
          padding: 1.5rem
          border-radius: 0.5rem
          inline-size: 35rem
          @include mixins.border(0.0625rem solid rgba(0, 0, 0, 0.1))
          @include lumina-mix.font($weight: 800)
          @include lumina-mix.background-color(color.$info)
          display: grid
          grid-template-columns: auto 1fr
          align-items: start
          &::before
            @include lumina-mix.font("bootstrap-icons", $size: 2rem)
            content: "\f431"
          &::before
            grid-column: 1
            grid-row: 1

  @include test('alert-warning should have correct contrast and icon')
    @include assert
      @include output
        .alert-warning
          @include lumina-mix.alert(color.$warning, $icon: 'warning', $inline-size: 35rem)
      @include expect
        .alert-warning
          gap: 1.5rem
          margin: auto
          padding: 1.5rem
          border-radius: 0.5rem
          inline-size: 35rem
          @include mixins.border(0.0625rem solid rgba(0, 0, 0, 0.1))
          @include lumina-mix.font($weight: 800)
          @include lumina-mix.background-color(color.$warning)
          display: grid
          grid-template-columns: auto 1fr
          align-items: start
          &::before
            @include lumina-mix.font("bootstrap-icons", $size: 2rem)
            content: "\f33a"
          &::before
            grid-column: 1
            grid-row: 1
