// Third-party dependencies
@use 'pkg:lumina-sass/mix' as l-mix
@use 'pkg:lumina-sass/color' as l-color

// --- Global Figure and Image styles ---
figure
    figcaption
        text-align: center
        @include l-mix.margin($b-start: 0.5rem)
        @include l-mix.font($size: 0.7rem, $style: italic)

    picture
        img, source
            border-radius: 100%
            @include l-mix.size($block: auto)

    img, picture
        border-radius: 0.5rem
        @include l-mix.size($inline: 100%, $block: auto)

    padding: 0
    @include l-mix.margin(0)
    @include l-mix.size($max-inline: 28rem)

// --- Navigation Styles ---
nav.logo-nav
    ul
        li
            a
                figure
                    @include l-mix.size($max-inline: none)

                    img
                        object-fit: contain
                        @include l-mix.size($inline: 7rem)

// --- Profile Bar Styles ---
article.profile-bar
    figure
        picture
            img, source
                border-radius: 100%

        @include l-mix.size($max-inline: 8rem)

// --- Business Card Styles ---
.business-card
    img 
        border-radius: 0

    figure
        picture, img
            border-radius: 0
            object-fit: contain
            @include l-mix.size($inline: 100%)

        picture
            img, source
                border-radius: 0
                object-fit: contain
                @include l-mix.size($inline: 100%)

        @include l-mix.size($inline: 3rem)

    .card-content
        figure
            @include l-mix.size($inline: 2rem)

    &.grid-layout
        .tech-img, .tech-figure
            object-fit: contain !important
            @include l-mix.margin(0 !important)
            @include l-mix.size($inline: 3.2rem !important, $block: 3.2rem !important)

        .card-header
            figure
                figcaption
                    display: none

        .card-footer
            .tech-img, .tech-figure
                object-fit: contain !important
                @include l-mix.margin(0 !important)
                @include l-mix.size(2rem !important, 2rem !important)

            figure
                figcaption
                    display: none

                @include l-mix.margin(0)

    .tech-container
        img
            object-fit: contain
            @include l-mix.size(1.5rem, 1.5rem)

    @include l-mix.background-image("/media/images/cards/portfolio-card.svg", $size: 9rem, $position: top left, $origin: border-box)

// --- Timeline Styles ---
.timeline-active
    figure

        img, source
            object-fit: contain
            @include l-mix.size($inline: 100%, $block: auto)

        @include l-mix.margin(0)
        @include l-mix.size($max-inline: 2rem)

.tech-container
    .tech-figure
        @include l-mix.size(2rem, 2rem)
        
        img
            object-fit: contain
            @include l-mix.size(100%, 100%)
