// Media Queries
@use '../mix/mixins' as mix
@use 'devices/breakpoints' as device


@forward 'devices/htc-media-query'
@forward 'devices/sony-media-query'

@forward 'devices/sharp-media-query'
@forward 'devices/apple-media-query'
@forward 'devices/amazon-media-query'
@forward 'devices/google-media-query'
@forward 'devices/display-media-query'
@forward 'devices/samsung-media-query'

@forward 'devices/motorola-media-query'
@forward 'devices/microsoft-media-query'
@forward 'devices/blackberry-media-query'

//  Generally media queries

//  Portrait
@include mix.device-media('iphone', portrait)

    header 
        .slogan-wrapper 
            @include mix.font($size: 0.424rem !important)

    main
        
        section.info
            .carosel
                div.btn-container
                    bottom: 27rem
                
                    button.img-btn
                        @include mix.font($size: 2.5rem)

                .caption
                    @include mix.font($size: 1rem !important)
                
                .relative
                    bottom: 5.85rem !important

            section.bio-container

                h2
                    @include mix.font($size: 2rem !important)
                    text-align: center !important

                section.bio-content

                    h3
                        @include mix.font($size: 1.5rem)

        section#tech-repo
            .pp
                @include mix.logical-size($block: 16.875rem)


                .tech-container
                    .relative
                        top: 1.125rem
                        left: 4.5rem
                p
                    @include mix.font($size: 0.8rem)
                    @include mix.logical-size($inline: 67.5rem)

                .img-svg
                    @include mix.logical-size($block: 2.8125rem)


        #tech-bar
            @include mix.logical-size($inline: 100%)

        form input[type="text"]
            margin-block-end: 1.125rem

@include mix.device-media('tablet', portrait)
    header
        img
            @include mix.logical-size($inline: 13.5rem !important)

        .slogan-wrapper 
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 45rem !important)
                @include mix.margin($inline: 1.8rem)

                .caption
                    @include mix.font($size: 1rem !important)

                .relative
                    bottom: 3.5437rem !important


                div.btn-container
                    bottom: 15.75rem !important
                    

                    button.img-btn
                        @include mix.font($size: 2.5rem !important)

            section.bio-container
                @include mix.margin($block: 0.5625rem !important, $inline: 0 !important)

                h2
                    @include mix.font($size: 2rem !important)
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        @include mix.font($size: 2rem !important)

                section.bio-content
                    

                    h3
                        @include mix.font($size: 1.5rem !important)

                    p
                        text-align: justify
                        @include mix.font($size: 1rem !important)
                        @include mix.logical-size($inline: 100% !important)            

                div.btn-container
                    bottom: 20.25rem !important

        section#spec-container
            .spec-class
                @include mix.logical-size($inline: 36.9rem !important)
                
            .spec-course
                .h4-link
                    @include mix.font($size: 1rem)

                p
                    @include mix.logical-size($inline: 100%)
                .tech-wrapper
                    .tech-label
                        @include mix.font($size: 1rem)

        section#tech-repo
            .pp
                @include mix.margin($inline: 1rem)
                @include mix.logical-size($inline: 36.9rem !important, $block: 10.6875rem !important)
                background-size: 15.3rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 1.8rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 34.2rem !important, $block: 1.125rem !important)

                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)

                h3
                    @include mix.margin($block: 1.125rem 0rem !important)
                    @include mix.font($size: 1rem !important)
                p
                    @include mix.font($size: 1rem !important)
                    @include mix.logical-size($inline: 32.4rem !important)
                    margin-inline-start: 4.5rem !important

        form input[type="text"]
            @include mix.logical-size($inline: 69.3rem !important)
            margin-block-end: 1.125rem

@include mix.device-media('ipad', portrait)
    header
        .slogan-wrapper
            @include mix.font($size: 0.7rem)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important, $block: 15.75rem !important)

                .caption
                    @include mix.font($size: .9rem !important)

                .relative
                    bottom: 2.5312rem !important


                div.btn-container
                    bottom: 11.25rem !important

            section.bio-container
                @include mix.margin($inline: 1.125rem !important)
                @include mix.logical-size($inline: 45rem !important)

                h2
                    @include mix.font($size: 2rem !important)
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        @include mix.font($size: 2rem !important  )

                div.btn-container
                    bottom: 20.25rem !important

        section#tech-repo
            .pp
                @include mix.margin($inline: 1rem)
                @include mix.logical-size($inline: 37.8rem !important, $block: 10.125rem !important)
                background-size: 14.4rem !important

                .tech-container
                    .img-wrapper
                        @include mix.logical-size($inline: 36.9rem, $block: 1.125rem)

                        .img-svg
                            @include mix.logical-size($block: 1.6875rem !important)
                p
                    @include mix.logical-size($inline: 33.3rem !important)
                    margin-inline-start : 4.5rem !important

        #tech-bar
            @include mix.logical-size($inline: 55.8rem)

        form 
            input[type="text"]
                margin-block-end: 1.125rem

//  Landscape
@include mix.device-media('iphone', landscape)
    header
        .slogan-wrapper
            @include mix.font($size: 0.7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 42.3rem)

                div.btn-container
                    bottom: 30.375rem

                .relative
                    bottom: 5.9062rem

            section.bio-container
                nav.bio-bar

                    button.bio-btn
                        @include mix.font($size: 1.5rem !important)
                        @include mix.margin($block: 0.5625rem)

                section.bio-content

                    h3
                        @include mix.font($size: 1.5rem        )

        section#tech-repo
            .pp
                @include mix.logical-size($inline: 35.1rem, $block: 23.625rem)
                @include mix.margin($inline: 1rem)
                background-size: 15.3rem
            
                p
                    @include mix.font($size: 0.8rem)
                    @include mix.logical-size($inline: 29.7rem)
                    @include mix.margin($inline: 4.5rem)

                .pro-nav

                    .tech-btn
                        @include mix.padding(0.5625rem, 0.5625rem)

                .tech-container
                    .relative
                        top: 1.6875rem
                        left: 2.7rem

                    .img-wrapper
                        @include mix.logical-size($inline: 31.5rem)

                        .img-svg
                            @include mix.logical-size($block: 3.9375rem)

        form input[type="text"]
            margin-block-end: 1.125rem

@include mix.device-media('tablet', landscape)
    header
        img
            @include mix.logical-size($inline: 9rem !important)

        .slogan-wrapper 
            @include mix.font($size: .7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important, $block: 28.6875rem !important)

                .caption
                    @include mix.font($size: 1rem !important)

                .relative
                    bottom: 4.6688rem !important


                div.btn-container
                    bottom: 19.6875rem !important

                    button.img-btn
                        @include mix.font($size: 2rem !important)

            section.bio-container
                @include mix.margin($block: 1.125rem !important, $inline: 1.8rem !important)

                h2
                    @include mix.font($size: 2rem !important)
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        @include mix.font($size: 1.7rem !important)

                section.bio-content
                    @include mix.logical-size($inline: 100% !important)
                    

                    h3
                        @include mix.font($size: 1.5rem !important)

                    p
                        text-align: justify
                        @include mix.font($size: 1rem !important)
                        @include mix.logical-size($inline: 100% !important)            

                div.btn-container
                    bottom: 20.25rem !important

        section#spec-container
            .spec-class
                @include mix.logical-size($inline: 37.8rem !important)
            
                p 
                    @include mix.logical-size($inline: 100% !important)

                .tech-wrapper
                    .tech-label
                        @include mix.font($size: 1rem)

        section#tech-repo

            .pp
                @include mix.margin($inline: 1rem)
                @include mix.logical-size($inline: 25.2rem !important, $block: 12.375rem !important) 
                background-size: 9.9rem !important

                .tech-container
                    @include mix.logical-size($inline: 100% !important)

                    .relative
                        top: 0.5625rem !important
                        left: 0.9rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 23.4rem !important, $block: 2.25rem)

                        .img-svg
                            @include mix.logical-size($block: 2.8125rem !important)

                h3
                    margin-inline-start: 3.6rem !important
                p
                    @include mix.font($size: 0.8rem !important)
                    @include mix.logical-size($inline: 19.8rem !important)
                    margin-inline-start: 3.6rem !important

        form input[type="text"]
            margin-block-end: 1.125rem

@include mix.device-media('ipad', landscape)
    header
        .slogan-wrapper
            @include mix.font($size: 0.7rem !important)

    main
        section.info
            .carosel
                @include mix.logical-size($inline: 31.5rem !important, $block: 28.6875rem !important)

                .caption
                    @include mix.font($size: 1rem !important)

                .relative
                    bottom: 3.7125rem !important

                div.btn-container
                    bottom: 18.5625rem !important

                    button.img-btn
                        @include mix.font($size: 2.5rem !important)

            section.bio-container
                @include mix.margin($block: 1.125rem, $inline: 0)
                @include mix.logical-size($inline: 53 !important)

                h2
                    @include mix.font($size: 2rem !important)
                    text-align: center !important

                div.btn-container
                    bottom: 20.25rem !important

        section#spec-container
            .spec-class
                @include mix.logical-size($inline: 42.3rem)
            
                p 
                    text-align: justify  

        section#tech-repo
            .pp
                @include mix.margin($inline: 1rem)
                @include mix.logical-size($inline: 21.6rem !important, $block: 12.375rem !important)
                background-size: 9rem !important

                .tech-container
                    .relative
                        top: 0.5625rem !important
                        left: 0.9rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 19.8rem !important, $block: 1.6875rem !important)

                        .img-svg
                            @include mix.logical-size($block: 2.25rem !important)
                h3
                    margin-inline-start: 1.8rem !important
                p
                    @include mix.logical-size($inline: 18.9rem !important) 
                    margin-inline-start: 2.7rem !important

        #tech-bar
            @include mix.logical-size($inline: 100% !important)

        form
            input[type="text"]
                margin-block-end: 1.125rem

//  WideScreen
@include mix.device-media('wideScreen', portrait)
    header
        .slogan-wrapper
            @include mix.font($size: 0.7rem !important)

    main
        section.info
            justify-content: space-evenly !important

            .carosel
                @include mix.logical-size($inline: 20.7rem !important, $block: 7.875rem !important)

                div.btn-container
                    bottom: 16.875rem !important

                button.img-btn
                    @include mix.font($size: 2rem !important)
            
                .caption
                    bottom: 2.6438rem !important


            section.bio-container
                @include mix.margin($block: 7.3125rem, $inline: 0 !important)
                @include mix.logical-size($inline: 45rem !important)

                h2
                    @include mix.font($size: 2rem !important)
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        @include mix.font($size: 1rem !important)

                section.bio-content
                    @include mix.logical-size($inline: 100% !important)
                    

                    h3
                        @include mix.font($size: 2rem !important)

                    p
                        @include mix.font($size: 1rem !important          )

                div.btn-container
                    bottom: 39rem !important

                nav.ext-bar
                    
                    a
                        @include mix.margin(0, 0)

        h2.msg
            text-align: center

        section#spec-container

            .spec-wrapper
                @include mix.margin($block: 2.8125rem)
                justify-content: flex-end

            .spec-class
                @include mix.logical-size($inline: 26.1rem)

            p
                @include mix.font($size: 1rem)

            .h4-link
                @include mix.margin(0, 0)
                @include mix.font($size: 0.9rem)

            .spec-course
                display: block

        section#tech-repo    
            .pp
                @include mix.logical-size($inline: 20.7rem !important, $block: 9.5625rem !important)
                background-size: 6.3rem !important


                .tech-wrapper
                    @include mix.logical-size($inline: 20.7rem !important)
                
                h3
                    @include mix.font($size: 1.2rem !important)
                    margin-inline-start: 0 !important

                p
                    @include mix.font($size: 1rem !important)
                    @include mix.logical-size($inline: 17.1rem !important)
                    @include mix.margin($inline: 2.7rem !important)
                    
                .tech-container
                    @include mix.logical-size($inline: 50.4rem !important)

                    .relative
                        top: 0.5625rem !important
                        left: -0.9rem !important

                    .img-wrapper
                        @include mix.logical-size($inline: 18.9rem !important, $block: 1.125rem !important)
                        @include mix.margin($inline: 1.8rem !important)

                        .img-svg
                            @include mix.logical-size($block: 1.6875rem !important)

        .flex-wrap-column-align-content-center

            #tech-bar
                @include mix.margin($block: 1.125rem !important)
                @include mix.logical-size($inline: 46.8rem !important)

            form input[type="text"]
                @include mix.logical-size($inline: 50% !important)
                margin-block-end: 1.125rem !important
